[2014-08-11 21:24] Qtrain opened #1 "Weather Widget not working"
Hi I am currently reading Node and Express.  My weather widget isn't working.  All the code seems to be correct.  Can you provide any assistance? https://github.com/Qtrain/meadowLark

http://stackoverflow.com/questions/25249706/not-sure-why-function-data-not-displaying-in-nodejs-app-using-handlebars-and-e

[2014-08-12 04:03] #1 closed, assigned to nobody

[2014-08-31 09:13] arbarik opened #2 "Not able to use ch04 tag"
Hi,

I have cloned this repository, and as mentioned in book, was trying to checkout ch04. But not able to .
Is the tags defined ?

Thanks,
arbarik

[2014-09-18 10:49] jkhan001 opened #3 "Chapter 5: Mocha and Chai Global Tests"
Up through chapter 5 I have been able to successfully run your examples. However, when I get into this chapter, I am finding many issues. First, to get the tests-global.js file to run I have to remove the if conditional statements. I am unable to apply ?test=1 to the query string and have it initiate the tests you have established so that we can hide the testing functionality.

Second I placed thi

[2014-10-06 01:21] mchavezi opened #4 "Routing From Page 15 Not Working"

[2014-10-06 01:33] #4 closed, assigned to nobody

[2014-10-06 20:54] ghost opened #5 "Ch10 Tag - Error with app.use( require(' express-session')());"
I have been working in Chapter 9 for Cookies and Sessions. With my own web app that I have been building as I follow along with your book is not able to load my root page when I attempt your example. The console shows errors with express-sessions depreciated with options for resave, saveUninitialized, and req.secret (provide secret option). I tested your ch10 tag to see how to debug my mistake and

[2014-10-10 13:19] rattanakchea opened #6 "Error when testing ch04"
I am new to Node and Express. I like to test the code as I read along your book.
I cannot seem to get the code to work when I test it. Here is what I have done.
- First i clone your repo, then checkout tag ch04.
- run npm install
- run node meadowlark.js
  Then I received the following error.
  ![issue](https://cloud.githubusercontent.com/assets/3496405/4592806/1dd2fefa-5080-11e4-94ec-4a790a2001f6

[2014-10-10 17:55] #6 closed, assigned to nobody

[2014-10-19 06:02] ghost opened #7 "Ch11: Encapsulating Email Functionality"
With the credentials.js file not working properly I have replaced the code with environmental vars. When I run the ./lib/email.js to test the functionality from this chapter example, the server is throwing an error stating there is no method 'send' at the line:

emailService.send(...);

I might be wrong, but are we able to access the send as a method when it is placed within the return statement o

[2014-10-20 07:32] mchavezi opened #8 "Duplicate ID on / views / contest / vacation-photo.handlebars"
id="fieldName" is used twice. Shouldn't all IDs have unique names?

[2014-10-28 23:41] Talamantez opened #9 "Handlebars not seeing "partials.weather.locations""
Hi  -

I'm working on the weather widget example. The template renders, but it does not render the Each Block. A console.dir(partials) on the template returns "partials is not defined". I've reduced the weather locations array to a single location and name for testing.

weather.handlebars:

[code]

Thanks!
Robert

[2014-11-25 10:40] terrynumber1 opened #10 "credentials.js where is the file?"
where is the credentials.js file for connecting to mongolab, chapter 13 page 148

[2014-11-25 16:17] #10 closed, assigned to nobody

[2014-11-28 01:01] codingdaddy opened #11 "Chapter 5: Mocha and Chai Cross-Page Testing Issue"
Hi, Ethan

I am really enjoying your book.
Great work!

I have written the code myself and I also have checked out your repo(ch07 tag).
I have a problem with cross page testing.
The first test always fails.
Please see the screen shot.

![screen shot 2014-11-28 at 10 01 14 am](https://cloud.githubusercontent.com/assets/3060364/5222723/8a814d64-76e5-11e4-80db-819928085e16.png)

[2014-12-04 00:37] thinksource opened #12 "cannot find module './credentials.js'"
I am new for express and node.

After I download the project from git and I try to compile and run it.

[code]

I do not know what the './credentials.js' for and how to make it can find it?

[2014-12-04 16:25] #12 closed, assigned to nobody

[2014-12-11 13:19] dsm-kbl opened #14 "Getting an error - Cannot find module 'express-session'"
I am following the book and I get this error when I try to start my server. I tried to install the module express-session but doesn't work. It says

throw err;
Cannot find module 'express-session'

on this line - app.use(require('express-session')({ store : sessionStore }));

How can i solve this problem?

[2014-12-30 14:04] douglasv opened #15 "un-necessary commas"
1)- the last entry  within an object ( key-value pairs) ends with a comma
in all the code. Thus Causing the speckling of  the gutter with red marks
within the ide.
2)- require(); has Many ' ' omissions surrounding the parameter,

3)-  package.json seems out of date

colors@0.6.2 node_modules/grunt/node_modules/grunt-legacy-log/node_modules/colors
npm WARN unmet dependency /home/douglas/workspace/w

[2014-12-30 14:58] douglasv opened #16 "git checkout ch17"
---

 the js files don't start with: (function(){
                                                    'use strict';
                                                    }());

---

1)- server can't start missing "credentials.js"

2)- node.js complains:
express-session deprecated undefined resave option; provide resave option meadowlark.js:100:35
express-session deprecated undefined saveUninitialize

[2014-12-30 15:55] #15 closed, assigned to nobody

[2014-12-30 16:35] allain opened #17 "domain.on('error', ...) not called"
Given a route defined as:

[code]

When requested, the error event is not emitted.

Thoughts?

[2014-12-30 16:44] allain opened #18 "Mongoose Session config is hard coded to development connectionString"

[2014-12-30 18:16] #17 closed, assigned to nobody

[2014-12-31 02:32] kimko opened #19 "ch13 - error on cart checkout when when using clustering"
Hi,
thx for the book and this repository. After checking out ch13 I am facing the following issue:
1) node meadowlark_cluster.js
2) browse to hood-river and add a tour to the cart
3) checkout
4) _error - 404_
(everything works fine when running meadowlark.js directly... the problem seems to be around the clustering(

It looks like the express framework throws an error when rendering the check out

[2015-03-20 17:46] evolvingtech commented on #11
I had the exact same problem. It seems to stem from the fact that main.handlebars was originally very simple. As I followed the repository content, when going from git tag 'ch07' to 'ch08' there is a sudden quantum jump in code complexity for main.handlebars.

The original main.handlebars was something like:

https://gist.github.com/evolvingtech/4335333f727d00838e14

The code for main.handlebars w

[2015-03-25 04:05] csuarezgfx opened #22 "chapter 5 - getting 404 error in dev mode"
I'm a noob who does not know how to diagnose this problem. I'm on page 44 and I have just added the pageTestScript. Upon running the site the qa js files produce a 404 error message when I inspect the page source. everythin loads but the tests-.js files.

My code is typed identically to the book. I upgraded from express3-handlebars to express-handlebars and made sure package.json reflected these c

[2015-03-25 04:53] csuarezgfx commented on #22
UPDATE: I get the same errors using exoress3-handlebars.

[2015-03-25 05:09] csuarezgfx opened #23 "npm zombie install error"
installing zombie produces this error.

[code]

has anybody else experienced this?

[2015-03-25 05:13] csuarezgfx commented on #23
SOLVED: ```$ sudo apt-get install build-essential```
then ran ```npm install --save-dev zombie```

[2015-04-02 14:15] David-GER opened #24 "Chapter 7 - Partials - Problem with express-handlebars"
When you install express3-handlebars - as the book suggests - npm gives you a deprecated warning because it was moved to express-handlebars. So I used express-handlebars until now because I seem to be reasonable to use the latest tools and I did not think that this would break anything.

    npm WARN deprecated express3-handlebars@0.5.2: THIS PACKAGE HAS BEEN RENAMED TO: express-handlebars

At lea

[2015-04-05 10:57] trisager commented on #24
The weather partial in the sample code works with express-handlebars up through v.1.1.0.

express-handlebars v 1.2.0 introduces a "render-level partials feature" which breaks the sample code.

[2015-04-07 07:29] J-Miao opened #26 "Chapter 8 - problem with jquery-file-upload"
When I run the example code of this chapter, after filling the form and uploaded png files, clicking the sumbit button will prompt to submit a file. It seems that the jquery-file-upload plugin has sent the request when uploading files. The form submission and the file upload are not synchronized.

[2015-04-16 17:13] esanz91 commented on #11
Hi Ethan,

First, I'd like to mention that I'm currently learning Node and Express and your book is great! Thank you! Once I got to Chapter 5, I got stuck (similar to OP's problem). The only suggestion I have for the future is to specify the version of the module your using at the time in the book, too, because I ran the npm install commands in the book verbatim and I guess I ended up installing t

[2015-04-16 17:19] EthanRBrown commented on #11
I want to apologize to everyone for not being more on top of these questions; between a full-time job, a part-time master's program, and working on another book, I fear that WDNE questions have taken a back burner.  Thanks to everyone who's chipped in and helped figure things out, and yes, in the next edition of the book, I plan to _specify_ package version numbers, both in the text and in the rep

[2015-04-20 17:42] januff opened #27 "Tags for Chapters 19 & 20?"
Been a fanboy of your excellent manual since I found it under my Xmas tree last year--and a close student of this repo as I've jimmied the code over the past month, your routes/handlers refactor being a particularly illuminating revision.

In the interest of wringing every last iota of template value out of your book, and since nobody's yet bothered you about it, may I just take a moment to formal

[2015-04-26 15:34] zwb-ict commented on #24
@trisager Thank you, I meet this problem too.

[2015-05-02 16:04] EthanRBrown commented on #22
Thank you!  Sorry I haven't been very responsive here...I'm playing catch-up with my various project.

[2015-05-02 16:04] #22 closed

[2015-05-02 16:04] #23 closed

[2015-05-02 16:16] EthanRBrown commented on #24
Sorry to be chiming in so late, gentlemen.  Both of you are correct, and I am updating the book to reflect the changes to `express-handlebars`.  Fixing the sample code with newer versions of `express-handlebars` is a simple matter of changing the name of the context object that's passed to the partial.

[2015-05-03 22:22] clintconklin commented on #3
If anyone else runs into this, might be due to typing...

`var assert = chai.assert();`

...in main.handlebars, rather than...

`var assert = chai.assert;`

Or at least that's when I ran into this issue ;)

[2015-05-04 01:44] EthanRBrown commented on #3
Thanks for the update, Javed!  I know these problems can be really frustrating, and I'm glad you got it worked out!

[2015-05-04 01:44] #3 closed

[2015-05-05 04:24] EthanRBrown commented on #27
Hello, januff!  Thank you so much for your praise; I'm so glad the book was useful to you.  And I humbly beg your forgiveness for the sad fact that I haven't added the code for the final chapters of the book to the repo yet (a project that has dragged on and on and now it's just embarrassing).  As it turns out, I've learned a lot about how best to synchronize a repo with a book.  Or -- more to the

[2015-05-06 08:57] hujunyi commented on #24
the section helper doesn't work, either. Is this due to the same issue?

[2015-05-28 04:45] gustavoandrescabral opened #28 "Chapter 7 - Handlebars.compile is confused with partials.weather and weather.handlebars"
I notice that the inclusion of the partial `{{> weather}}` in the **home.handlebars** file is getting confused between the name of the widget **weather.handlebars** and the partial variable located in `res.locals.partials.weather` because a saw this error on my browser:
[code]
So, I decided to replace `res.locals.partials.weather` with `res.locals.partials.weatherData`. Finally, the **weather.hand

[2015-05-28 04:54] gustavoandrescabral commented on #28
This is my **meadowlark.js** file, I did it a little bit different from the original
[code]

[2015-06-03 22:49] jcfiala commented on #28
I've run into the same problem, and changing the name of the data to weatherData also fixed it.

[2015-06-05 19:21] EthanRBrown commented on #28
This is a known problem resulting from changes in the `express-handlebars` package.  The book has been updated (reprint pending), and I will be refactoring the whole repo to reflect these changes very soon.

[2015-06-05 19:21] #28 closed

[2015-06-12 04:48] ikhos commented on #28
Hi, I got the book from O'Reilly, is that version going to be updated soon?

[2015-06-19 14:15] VdeVatman commented on #28
@EthanRBrown Is there an explanation of why does this happen? I could fix it because of the information on this thread, but I would love to understand exactly why it happens.

[2015-07-05 16:09] johnwargo opened #31 "Typo in Readme"
You have structure spelled as Strucutre in the headings.

[2015-07-05 20:24] #31 closed

[2015-07-05 20:25] EthanRBrown commented on #31
What?  Impossible!  I'm an author, I don't make typos!  Hahaha.  Thanks for catching that, John.

[2015-07-12 12:52] johnwargo commented on #18
There's no reason not to fix errors in the book's code here. Readers will understand (should) that when it's different here, it's because... you found a problem and fixed it here. Also, they'll be able to go back in history and see where the book's code diverged from the manuscript. I have absolutely no expectation that the repo is consistent with the book, my expectation is that this code is the

[2015-07-12 12:57] johnwargo opened #32 "Cannot read property 'Store' of undefined"
I'm using the downloaded code to test the app as I work through the chapters and I'm running into a problem:

\node_book\meadowlark\site\node_modules\session-mongoose\index.js:261
    })(connect.session.Store);
                      ^
TypeError: Cannot read property 'Store' of undefined
    at module.exports (\node_book\meadowlark\site\node_modules\session-mongoose\index.js:261:23)
    at Object.<

[2015-07-12 13:26] johnwargo commented on #32
Nevermind, figured it out.

[2015-07-12 13:26] #32 closed

[2015-07-12 14:05] johnwargo opened #33 "Bundles?"
In Chapter 16, you briefly mention your bundle module, and show how to use it, but you don't explain it.  I don't understand how the 'stuff' in the config.js file relates to stuff like this:

{{#each _bundles.css}}
    <link rel="stylesheet" href="{{static .}}">
{{/each}}

I understand, I think, what I'm doing when I bundle, but you aren't explaining what happens. How would I know, or where would

[2015-07-13 21:03] EthanRBrown commented on #18
@johnwargo, I've decided not to tell readers how they should or shouldn't use my book -- not only have I been embarrassed on occasion when readers turned out to be right, but who am I to presume the way another person should work?  Anyway, the new approach I think will work really well: readers who would prefer the repo match their version of the book exactly are satisfied, as well as people like

[2015-07-13 21:04] EthanRBrown commented on #18
@allain I have finally (!!!) gotten around to fixing this...thankfully I can do it much more easily with the new repo structure.  Since this does require a change to the book copy, the work has been done on the 1.5.1 branch.

[2015-07-13 21:04] #18 closed

[2015-07-13 21:05] EthanRBrown commented on #32
Thanks, John, I was just getting around to digging into your problem.  I'm glad you figured it out.

[2015-07-13 21:08] EthanRBrown commented on #33
Thanks for the comment, John...I will put a note in my TODO list for the next book revision to revisit my explanation of this.  There is documentation on the package's npm page (https://www.npmjs.com/package/connect-bundle), but I will see if I can shore up the explanation in the book as well.

[2015-07-14 00:05] allain commented on #18
Sweet. Thanks.

[2015-07-21 15:43] imrek commented on #11
That tests-crosspage.js really has issues.

[code]

This gives me "Unspecified AssertionError", so I changed it into
[code]

Which again shows that browser.field('referrer').value is empty, though the field is actually populated with the URL if I change the input type from hidden to text of that field.

It's a pitty that these bugs are left to be fixed by the reader, because this way hundreds or t

[2015-07-21 16:29] EthanRBrown commented on #11
All issues with the cross-page tests have been fixed in the repository refactoring.  I verified that they all function correctly on Linux & OSX.  Check out either master, or the latest version (1.5.1).

[2015-07-21 16:29] #11 closed

[2015-07-21 16:37] imrek commented on #11
Unfortunatelly, not for me (Linux).
In https://github.com/EthanRBrown/web-development-with-node-and-express/blob/master/ch05/qa/tests-crosspage.js#L17 the browser.field('referrer').value is empty, that is what makes the test fail.

[2015-07-21 17:45] EthanRBrown commented on #11
@imrek, you are correct; the tests were not passing for ch05 and ch06.  It's a regression, and I don't know how that happened...I went through and tested all the chapters before creating the 1.5 tag, so I'm not sure how this slipped by me.  The problem was that the `section` Handlebars helper was missing.  I added that and verified all the tests pass for ch05 and ch06.  I've also updated the 1.5.1

[2015-07-28 21:49] philkeys opened #34 "Ch 5. Missing dependencies in the test files with Grunt Setup?"
I made the shift over to the grunt setup at the end of chapter 5. However, when I ran 'grunt' a few errors occurred.

Two of the tests, 'public/qa/tests-about.js' and 'public/qa/tests-global' were erroring out saying that 'assert' was not defined. So, I added in chai's assert via require, and then ran 'grunt' again.

For the tests-about.js file, now it was showing that '$' was not defined. So I fo

[2015-07-29 03:29] EthanRBrown commented on #34
I'll look into this Phil, thanks for the heads-up.

[2015-07-29 03:33] EthanRBrown commented on #34
So something is fishy here....  `public/qa/tests-about.js` and `public/qa/tests-global.js` are for _browser_ testing only.  Star up the server, and add `?test=1` to the URL, and these tests will run.  They're not intended to run server-side via grunt.  The server-side tests are all in `qa` (not `public/qa`).  Out of the box, the gruntfile doesn't pull these tests in...did you add them, or...?

[2015-07-29 03:34] EthanRBrown commented on #34
I verified the server-side tests (in `qa`) and the browser-side tests (by starting the server and adding `?test=1` to the URL) are working (Linux, latest on master).

[2015-07-30 04:19] pietrofxq opened #35 "Views Folder"
I'm wondering how doing that:

[code]
Can render the file views/about.html. I didn't specify anywhere where my views folder is. Taking a look on the source of ```express-handlebars.js``` I can see that the file set two pathnames, one for the 'layouts' and other for 'partials'. But I don't see anywhere a reference to views/. From where this is coming from?

[2015-07-30 04:38] philkeys commented on #34
Gotcha. I still had all my tests within a qa folder inside public and hadn't moved the two out. Made the changes and it's all working.

Thank you so much for the quick response!!

[2015-07-30 04:38] #34 closed

[2015-07-30 16:46] EthanRBrown commented on #35
Good question; I had to do a little digging to find the answer.  As it turns out, the choice of `views` folder is not a function of `express-handlebars`, but of `express` itself.  `express-handlebars` sets the layouts and partials directories explicitly because those are extensions to the Express view engine.  The location of the view directory is configured by Express itself.  See line 114 here:

[2015-07-30 16:46] #35 closed

[2015-08-04 07:35] GerardKetuma commented on #28
I think the issue is due to the fact that the weather information has been namespaced under partials like
[code]
Renaming the namespace from partials to something else will also fix the problem. The namespace 'partials' must be conflicting with the express-handlebars library.

I changed my code to the following and it worked.

[code]

Also don't forget to change partials to partialsData in the wea

[2015-08-04 15:48] EthanRBrown commented on #28
As previously mentioned, this is a problem that was caused by the 1.0 update of `express-handlebars`.  It's been fixed in the repository; both the master branch and the latest version (1.5.1) function correctly.

[2015-08-04 15:48] EthanRBrown commented on #28
@ikhos it has been updated

[2015-08-15 12:10] jsmasterathul commented on #26
I am also getting the same issue, has anyone looked into it?

[2015-08-15 16:12] EthanRBrown commented on #26
It's been a while since I looked at this code, and I'm busy on another book right now; I will try to get to this, but it might not be until September.  If anyone figures it out, I am happy to accept a community PR!

[2015-08-21 02:35] pietrofxq opened #36 "Callback function of connect-rest"
I'm a bit confused about the use of connect-rest.

The third passed parameter is the 'callback' function. What exactly this function does? It returns what you want as json? Why the first argument is "null"? The documentation doesn't seem to explain much about this

[2015-08-21 02:45] EthanRBrown commented on #36
Hi, Pietro; could you post a code sample?  `connect-rest` has multiple use cases....

[2015-08-22 01:39] smulder commented on #24
@EthanRBrown I am at a loss trying to follow your suggested correction could you please just point the line of code out we should change? I also am having a hard time finding the updated sample code here on Git that you referenced back in May on the O'reilly Errata page. Just a bit more guidance would be super helpful.

[2015-08-22 03:46] #24 closed

[2015-08-22 03:57] smulder commented on #24
Thank you so much!

For anyone else, also change it in weather.handlebars

[2015-08-22 03:57] EthanRBrown commented on #24
Hi, @smulter, sorry you're having issues seeing the updated sample code.  If you checkout master (`git checkout master`) and then pull the latest changes (`git pull`), you'll have the very latest (I just checked and found that the fix wasn't applied to all chapters; I just corrected that).

It's hard to answer your question about pointing out the exact line of code that needs to be changed without

[2015-08-22 16:56] pietrofxq commented on #36
Yeah, for example:

[code]

What ```cb``` does in this case isn't clear for me.

[2015-08-22 17:22] EthanRBrown commented on #36
`connect-rest` supports two calling conventions: synchronous and asynchronous.  What you're asking about is the asynchronous convention.  Let's start with the synchronous call to understand the difference:

[code]

This is fine if you're not doing any asynchronous processing.  If you are (as in the case with `Attraction.find`), this won't work:

[code]

As you can see, when you're calling an async

[2015-08-24 05:01] pietrofxq commented on #36
Yeah, now I understand.

Thanks for the explanation Ethan. I appreciate your work and your support
:-)

2015-08-22 14:22 GMT-03:00 Ethan Brown <notifications@github.com>:

[2015-08-24 14:25] EthanRBrown commented on #36
Great!  I'm glad I was able to help.

[2015-08-24 14:25] #36 closed

[2015-08-25 19:15] pietrofxq opened #37 "req.user.name is undefined"
I'm following the Chapter 18, 'Security'. I was able to get the login working with no problems, but I can't access the user information through `req.user`.

I googled the problem and everyone said that the problem is that `express-session` isn't correctly enabled, but I'm using sessions in the app (like the flash thing) and the setup is equal to the project files:

[code]

[2015-08-25 21:24] EthanRBrown commented on #37
Can you do `console.log(req.user)` and see if `req.user` is even getting set?

[2015-08-26 01:25] pietrofxq commented on #37
It isn't.

[2015-08-27 14:02] EthanRBrown commented on #37
Without seeing your code, there's not much more I can diagnose at this point.  The auth flow can be very tricky: there are a lot of moving parts and things have to be "just right" for OAuth to work properly (which is an unfortunate consequence of security).  I recommend you making sure the companion repo works correctly for you, then compare its code against your code.  I just validated that `req.

[2015-08-28 04:04] pietrofxq commented on #37
Ok - after some digging I found the issue.

My route to ```/account``` was inside ```routes.js``` among the other routes.

By removing this route definition from there and pasting after ```auth.registerRoutes()``` in ```meadowlark.js```, the ```req.user``` property got populated.

There's any explanation for that? I'm enjoying node so far, but these kind of things really bother me.

[2015-08-28 09:21] michel-cliqz opened #38 "Using zombie.js version 4.1.0 will not work in Chapter 5"
On page 46 one needs to install zombie, this will, however, install version 4.1.0. 4.1.0 is for some reason not supported (https://github.com/assaf/zombie/issues/909) and thus I installed 4.0.8.

[2015-09-08 01:26] brad7928 commented on #38
I had more issues with this section, it wouldn't work with 4.0.8 so I took the version from the package.json in the git repo and installed them.

    "dependencies": {
        "express": "^4.13.3",
        "express-handlebars": "^2.0.1",
        "chai": "~1.9.1"
    },
    "devDependencies": {
        "mocha": "~1.20.1",
        "zombie": "~2.0.0-alpha31"
    }

[2015-09-11 02:19] Cryptolemming commented on #3
For anyone else running into issues with the initial ch05 tests - after much troubleshooting including rolling back dependency version etc - the solution for whatever reason lied in adding the following to main.handlebars:

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<script>window.jQuery || document.write('<script src="/vendor/js/jquery-2.1.1.min.js"><\/script>')</script>
	{{{_

[2015-09-15 09:29] anemochore opened #40 "typo in ch15/meadowlark.js"
line 90:
var sessionStore = new MongoSessionStore({ url: credentials.mongo[app.get('env'].connectionString });

should be

var sessionStore = new MongoSessionStore({ url: credentials.mongo[app.get('env'**)**].connectionString });

( ie ('env'] -> ('env)] )

[2015-09-15 17:46] EthanRBrown commented on #40
If you fix this and create a PR, I will merge it in!

[2015-09-16 00:03] anemochore commented on #40
ok
https://github.com/EthanRBrown/web-development-with-node-and-express/pulls?q=is%3Aopen+is%3Apr

[2015-10-04 03:52] alireza-saberi opened #42 "ch3 : {{{body}}} for handlebar"
I came from front-end to back-ebd `{{{body}}}`of handlebar is close to data-binding in AngularJS and it causes troubles. Any sugesstion/replacement except Jade?

[2015-10-04 19:57] EthanRBrown commented on #42
This won't conflict with Angular as long as the rendering is done on the back-end.  If you're doing front-end rendering with Handlebars, that could cause a conflict, but if you're using Angular, chances are you don't need or want Handlebars on the FE.

So if you use `{{{body}}}` on the server side, that will be replaced before it's sent over the wire to the browser, where Angular is working its ma

[2015-10-04 19:57] #42 closed

[2015-11-01 10:09] wewea opened #43 "set custom layout fail"
i have already create an custom.handlebars in views/layouts/. it didn't work. eventhough i set layoutDirs when create the engine.

is there something wrong with my code?
[code]
here is error info:
[code]

[2015-11-01 20:07] EthanRBrown commented on #43
You said you set `layoutDirs`, but it should be `layoutsDir` (plural _layouts_, singular _dir_)...that would be the first thing I'd check....

[2015-11-02 05:30] wewea commented on #43
yeah, there is a typo. thank you.

but i think the problem is that i put the custom.handlebars in views/layouts/ instead of views/. after i point out the path explictly, it work withiout set the layoutsDir.

[code]
thanks for reply .

[2015-11-02 16:48] EthanRBrown commented on #43
Hm...don't confuse the layout with the view!  In your updated example, you're rendering `layouts/custom` as a view, but that's also the template you're using...so you're using the same for both.  Probably not what you want....  Layouts should go in `views/layouts`, and views should go in `views` (or subdirectories thereof that are not `layout`).

[2015-11-02 16:48] #43 closed

[2015-11-03 01:31] wewea commented on #43
Oh, I got it. I have to create an 'custom-layout.handlebars' in views/ at the same time.
so it compile in this turn:

[code]

[2015-11-09 23:42] vasco3 opened #46 "In this book it says npm is not an acronym"
doesn't **npm** stands for node package manager?

[2015-11-09 23:44] EthanRBrown commented on #46
Common misconception.  https://docs.npmjs.com/misc/faq#if-npm-is-an-acronym-why-is-it-never-capitalized

[2015-11-09 23:44] #46 closed

[2015-11-09 23:46] vasco3 commented on #46
oh interesting. That was fast! thanks

[2015-11-09 23:47] EthanRBrown commented on #46
No problem...and honestly, I think it's a little bit precious on part of the npm folks.  There's some tradition there (see PHP and Gnu), but it's kind of a silly tradition.  Programmers just trying to be ridiculous.

[2015-11-10 00:11] vasco3 commented on #46
I see, those silly things keep it fun :)

[2015-12-01 16:40] andrew-ware opened #48 "ch05 tests-crosspage.js fails to find 'referrer' field"
I've tried multiple versions of zombie but I haven't been able to solve this issue. My tests fail with error saying it cannot read value of null.

assert(browser.field('referrer').value === referrer);

I have the latest versions of Xcode command line tools and node.js

[2015-12-01 22:36] EthanRBrown commented on #48
Hi, Andrew...sorry to hear you're having this problem.  Could you tell me what branch/tag you are in the repo?  I just tried this on a Linux machine (branch `master`), and the crosspage tests for ch05 all passed:

![image](https://cloud.githubusercontent.com/assets/7088733/11516560/dc2657e8-9838-11e5-9782-cb2b3e83fef8.png)

[2015-12-01 23:01] befreestudios commented on #48
Somewhat related... The code in the book the call to done() should be within the test and not the nested function as it is. This was throwing some timeout errors on the tests for me...

[code]

[2015-12-01 23:48] EthanRBrown commented on #48
Hi, @befreestudios, your statement is not correct.  Putting `done()` where you have it basically circumvents the whole point of the test.  That will kick off the page load as an asynchronous event, and then mark the test is `done()`.  It will be listed as successful, but that's a lie!  Any errors would have been swallowed up by the asynchronous execution.  The test is correct as written, and the c

[2015-12-02 00:05] befreestudios commented on #48
Yea, I see what you're saying. However when the call to `done()` is within the browser.clickLink handler I'm getting this:

[code]

[2015-12-02 00:06] andrew-ware commented on #48
@befreestudios, I was getting this error previously as well. I got down to the heart of the issue by adding a try catch block which caught the actual error, which is the one I posted above.

[2015-12-02 00:08] andrew-ware commented on #48
@EthanRBrown I cannot get it working with the master branch version either. I guess the issue must be with some package not installing correctly?

[2015-12-02 00:11] EthanRBrown commented on #48
@andrew-ware just to make sure, you are running the server in a separate window, correct?  That is, in one window you have `node meadowlark.js` running, and in the other window you run `grunt`?  The server has to be running for the tests to complete....

[2015-12-02 00:25] andrew-ware commented on #48
Yes I was running the server in a separate window. I figured it out.. there was some issue with the package install of zombie in my version of Mac OS. I was able to fix it by sudo installing the packages. Thanks for your time!

[2015-12-02 00:26] EthanRBrown commented on #48
No problem, I'm glad you figured it out!  Zombie is a great project, but it's been through a lot of churn...and what they're trying to do is not easy!

[2015-12-02 00:26] #48 closed

[2015-12-17 15:25] pipecivil opened #49 "problem length jquery"
assert($('a[href="/contact"]').length);
Hi! dear my friend

your book is great for me
but now have problem
I can't solve this problem
let me know how to fix it

<img width="724" alt="2015-12-18 12 21 27" src="https://cloud.githubusercontent.com/assets/4828753/11873374/81182f6a-a51d-11e5-99ab-e8c0eb8f67d1.png">
<img width="699" alt="2015-12-18 12 22 01" src="https://cloud.githubusercontent.com/asse

[2015-12-17 23:40] pipecivil commented on #49
I have known what am I wrong

 <a href="/contact">contact us</a>
		var j = $('a[href="/contact"]').length;
		alert(j);

if main.handlebars  execute this jquery
alert value is 1

but in the
about.handlebars is 0

I am thinking about it

<img width="1128" alt="2015-12-18 8 37 06" src="https://cloud.githubusercontent.com/assets/4828753/11885174/b773059a-a562-11e5-90de-86b4c4784811.png">

the problem

[2015-12-17 23:52] pipecivil commented on #49
any way if I put this code
'''html
<a href="/contact">contact us</a>
'''
on main.handlebars
it is ok!

thank you have a nice day

[2015-12-18 00:58] pipecivil commented on #49
wow,
Finally I found it
{{{body}}}
I have to use triple-stash

[2015-12-18 03:04] EthanRBrown commented on #49
Sorry I didn't get to this in time to save you some trouble!  Yes, the triple curly brackets are required to prevent HTML interpolation.  I'm glad you figured it out!

[2015-12-18 03:04] #49 closed

[2015-12-18 03:34] pipecivil commented on #49
thank you so much
I like your book

[2015-12-18 03:36] EthanRBrown commented on #49
Thank you, I'm glad you've enjoyed it!

[2015-12-21 19:03] SinOfWrath opened #50 "Chapter 5: done() call should be outside borwser.visit(....)"
on pg 46 chap 5.
My tests first 2 test cases failed (i.e hood-river and oregon-coast) because it couldn't find done(),
(i dont know why) but it worked fine after i moved it out of function browser.visit(..).

[2015-12-21 19:08] EthanRBrown commented on #50
If you move `done()` oustide of `browser.visit()`, you are defeating the purpose of the test and getting falsely passing tests.

The point of the call to `done()` is to allow asynchronous code to be tested.  `browser.visit()` is asynchronous, so it returns immediately.  Placing `done()` _after_ (rather than _inside_ the callback) means that the test will pass successfully...but you're not actually

[2015-12-21 19:12] SinOfWrath commented on #50
i've tried after restarting the server but i'm still getting error:

1) Cross - Page Tests requesting a group rate quote  from the hood river tour pageshould populate the referrer field:
     Error: timeout of 2000ms exceeded. Ensure the done() callback is being called in this test.

  2) Cross - Page Tests requesting a group rate from the oregon coast tour page should populate the referrer field:

[2015-12-21 19:16] EthanRBrown commented on #50
Are you using the official repo?  The Chapter 5 tests (including crosspage) are passing for me.  What OS are you on?

[2015-12-21 19:19] SinOfWrath commented on #50
I'm not using the official repo, i'll try with that now, and OS X El Capitan.

[2015-12-21 19:22] EthanRBrown commented on #50
Ah, I'm glad you're not on Windows.  It's a real pain to get the tests working on Windows.

The timeouts mean that either the headless browser (Zombie) is not successfully loading the page, or is unable to click the link on the page when it loads.

[2015-12-21 19:36] SinOfWrath commented on #50
same error with the official repo, version of  zombie i'm using is: 4.2.1,
and thanks for the quick response.

[2015-12-21 19:50] EthanRBrown commented on #50
You closed the issue; did you figure it out?

[2015-12-21 21:32] SinOfWrath commented on #50
Nope, was not able to figure it out.
<img width="836" alt="screen shot 2015-12-22 at 3 01 04 am" src="https://cloud.githubusercontent.com/assets/15728282/11941832/5561b3b2-a858-11e5-9d90-3aba649c72b3.png">
 "dependencies": {
    "express": "^4.13.3",
    "express3-handlebars": "^0.5.2"
  },
  "devDependencies": {
    "chai": "^3.4.1",
    "mocha": "^2.3.4",
    "zombie": "^4.2.1"
  }

[2015-12-22 04:11] EthanRBrown commented on #50
The next step in debugging is to see what calls (if any) are being made to the Meadowlark app.  First, install a logger; Morgan is the most popular:

    npm install --save morgan

Then link into the middleware, first thing after you create the app:

  app.use(require('morgan')('dev'));

Then re-start the Meadowlark app (`node meadowlark.js`) and re-run the tests.  You should (hoepfully) see some

[2015-12-22 06:10] SinOfWrath commented on #50
I ran the test case 3 times as you can see above from a different terminal window, also last case somehow has 4 GET calls, visit() is working fine there's some problem with clickLink().
<img width="997" alt="screen shot 2015-12-22 at 11 34 31 am" src="https://cloud.githubusercontent.com/assets/15728282/11948973/1495457c-a8a0-11e5-96d2-c5856757c1b8.png">

[2015-12-26 16:33] maomaoking opened #51 "mocha no work"
hello , i learn   ch05. but when i open two terminal . the first code 'node meadowlark.js'. the second code ' mocha -u tdd -R qa/tests-crosspage.js 2>/dev/null'  . it's nothing to show me in the first terminal. can you help me . thank you very much -----  orz

[2015-12-26 16:35] maomaoking commented on #51
my product is https://github.com/maomaoking/meadownlark  . you can download and try . isn't work? >_<

[2015-12-26 23:50] Jammerwoch commented on #51
Do you see anything in the first console?  You should see:

    Express started on http://localhost:3000; press Ctrl-C to terminate.

If that works, try connecting to http:/localhost:3000 in a browser; you should see some routes in the console window.

[2015-12-27 02:20] maomaoking commented on #51
i can't believe that i can get your reply  ^_^
when i start node server i can see
`Express started on http://localhost:3000; press Ctrl-C to terminate.`
when i connect http:/localhost:3000 in a browser ; i can see
`GET / 200 33.450 ms - 341
GET /img/logo.jpg 304 3.742 ms - -`
but when i exec 'mocha -u tdd -R spec qa/tests-crosspage.js 2>/dev/null' on the second console
the first console nothing to

[2015-12-27 05:18] Jammerwoch commented on #51
Try leaving off the redirect of standard error...I suspect there's something wrong with the installation of Zombie:

    mocha -u tdd -R spec qa/tests-crosspage.js

(notice the omitted `>/dev/null`.)  Also, what OS are you on?

[2015-12-27 08:19] maomaoking commented on #51
i think so . the wrong is zombie~~
when i exec
`mocha -u tdd -R spec qa/tests-crosspage.js`
the console show error log :
_/Users/zhangyumou/3_source/8_frame/node/meadownlark/site/node_modules/zombie/node_modules/jsdom/lib/jsdom/living/node-iterator.js:3_
_const defineGetter = require("../utils").defineGetter;_
_^^^^^_
_SyntaxError: Use of const in strict mode._
......

and my os is OSX ^_^

[2015-12-27 17:16] Jammerwoch commented on #51
Now I suspect your problem is that you're using an outdated version of Node.  Could you type `node -v` and let me know what version you're on?

It should not be complaining about `const` in strict mode.

[2015-12-28 02:08] maomaoking commented on #51
v0.12.7

[2015-12-28 21:40] EthanRBrown commented on #51
Hm...well that is very odd.  I just tried it with Node 0.12.7, and it worked fine...I didn't get that error.

Regardless, 0.12.7 is pretty old, why don't you update to the latest (4.2.4).  Then you'll want to delete your `node_modules` directory (`rm -rf node_modules`) and run `npm install` again.  Let me know if the problem persists after doing this....

[2015-12-31 03:50] maomaoking commented on #51
sorry  . the yesterday is so busy . thanks for your idea. i update the version and rm the node_modules and npm install .then start node .then...........it's ok .
thankyou verymush help me solve the problem
at last . Happy every day in 2016

[2015-12-31 03:50] #51 closed

[2015-12-31 04:56] EthanRBrown commented on #51
I'm glad that worked out!  Best of luck to you.

[2016-01-02 00:06] markzero commented on #50
The thing here is that you have to use exact version of zombie as specified in package.json, which is ~2.0.0-alpha31.

It won't work for me also otherwise. When I console.log the document.referrer it's blank, but using this version of zombie gives me non-empty referrer. Hope this helps.

[2016-01-02 03:16] EthanRBrown commented on #50
Good to know, @markzero; sorry I dropped off this thread.  It's been a busy week, and this fell off my radar.  I'm glad you got it figured out!  I should update the code to work with the latest version of Zombie...so much to do and so little time :(

[2016-01-02 03:16] #50 closed

[2016-01-02 22:06] chadfawcett opened #52 "Chapter 6 Example Code Typos"
Hello @EthanRBrown

I am really enjoying the book so far. I was reading through the example code snippets for the **Providing an API** section of Chapter 6 when I came across a couple typos (or at least what I thought may be typos). I wasn't sure if this was an appropriate place to bring these to your attention as they aren't part of the Meadowlark app.

First one I noticed was on page 66 (hard co

[2016-01-02 22:11] EthanRBrown commented on #52
Hi, Chad, I'm glad you're enjoying the book!  Yes, the "product" language was an artifact of the prototype example (before I settled on the whole Meadowlark conceit).  I'll get that corrected...also the `toursXml` string...that may have been fixed, but I will have to check to make sure.  There is a place on the O'Reilly website to submit official errata (which I'm behind on; it was on my holiday b

[2016-01-02 22:24] chadfawcett commented on #52
Looks like the `toursXml` has already been reported.

Thanks for the quick response.

[2016-01-02 22:24] #52 closed

[2016-01-02 22:54] markzero opened #53 "Invalid csrf token when on multipart/form-data"
When I'm using formidable and upload image fields in forms with enctype=multipart/form-data, I'm getting "invalid csrf token" error message. When I remove enctype from the form, it works.

Any ideas?

Thanks

My middlewares:
[code]

[2016-01-03 15:39] markzero commented on #53
I solved this but adding:

`action="?_csrf={{_csrfToken}}"`

to the form. Removed the hidden field for csrf token.

[2016-01-03 15:39] #53 closed

[2016-01-03 16:35] EthanRBrown commented on #53
Hm, that's interesting...the hidden field should have done the trick, though your fix is also valid.  I'll look into this....

[2016-01-05 23:18] dan13more opened #55 "for package.json (Ch 15+): modification note needed for installing connect-rest module version 0.9.12"
when initially installing the most recent version of connect-rest module (which surpassed v0.9.12),
I was getting the following error:
"TypeError: rest.get is not a function"

re-installing with version 0.9.12 (as you have it right now) seemed to resolve the error

[2016-01-06 17:36] morizotter commented on #50
Me too.
I updated zombie to latest - 4.2.1 and `done()` was called. But error still occured. The cause is referrer. If I wrote as below, the test succeeded.

[code]

[2016-01-06 19:26] EthanRBrown commented on #50
Thanks, for that @morizotter...if you want to fix the repo to use a more recent version of Zombie, I would accept that PR...and integrate the changes into the upcoming book revision.

[2016-01-07 05:17] thepreacher commented on #38
I appreciate the challenge the author faces with regards to the fact that node.js is relatively new and depends on so many other modules to get an application working. Node it self and its dependencies are evolving so fast that, keeping your applications current is huge challenge.

I am also having the same issues as the original author and I've tried all sort of suggestions without success. I hav

[2016-01-18 21:41] marcdavies87 commented on #38
I am also having this issue and when I try to install npm install --save-dev zombie@3.1.1 I get the following:

npm ERR! contextify@0.1.15 install: `node-gyp rebuild`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the contextify@0.1.15 install script 'node-gyp rebuild'.

Could do with some pointers here as I am struggling to progress part this bit.

[2016-01-18 21:51] marcdavies87 commented on #38
On top of that when I go to us jshint I get the following:
npm install --save-dev jshint

[2016-01-19 04:10] thebigsmall opened #57 "The completed sample is required to operate at Heroku server hosting"
I would appreciate if you fill this function below ..

Chapter 8 and Chapter 13:
function saveContestEntry(contestName, email, year, month, photoPath){
 // TODO...this will come later
}

The completed sample is required to operate at Heroku server hosting
because of the following error

Error: EXDEV: cross-device link not permitted, rename '/tmp/upload_f8c7f27f5fc96f1455e35cb30e2c7399' -> '/app/up

[2016-01-19 04:54] EthanRBrown commented on #57
I'm afraid I can't complete every part of this application; this is not designed to be a complete working example with all functionality implemented.  You should have the knowledge you need to complete this: review the chapter on using MongoDB.  It would look something like this:

    function saveContestEntry(contestName, email, year, month, photoPath, cb) {
        Contest.findOne({ name: contes

[2016-01-19 04:54] #57 closed

[2016-01-19 05:09] EthanRBrown commented on #38
Hello @marcdavies87 and @thepreacher!  This is Ethan, the author (yes, I have a name!)  I'm sorry you're having some issues with Zombie; I believe I will remove the dependence on Zombie in a future edition of the book as it has caused nothing but problems, especially with people on Windows.

The book is not about QA, and it's possible that I was over-reaching by trying to include a topic that coul

[2016-01-21 16:11] mikevarela opened #58 "Chapter 05 - First Mocha Test"
I'm getting 2 failures. 1 for sure is the oregon page as it's not written but the other is dumbfounding me. I've checked spelling and can't figure it out.
**** (i've seen an earlier thread on zombie versions too so I've downgraded to version 3.1.1)

the error is

  Cross-Page Tests
    1) requesting a group rate quote from the hood river tour page should populate the referrer field
    2) requesti

[2016-01-21 19:19] SinOfWrath commented on #58
I had a similar issue(#50), you can check it, the problem was with version of Zombie being used.
Hope this helps.

[2016-01-21 20:47] mikevarela commented on #58
Ok, thanks thats a big help.

I followed the suggestions anf the final one was correct.

Test had to change from
assert(browser.field('referrer').value === 'referrer');
to
assert(browser.field('referrer').value === ' ');

and it works.

Also, Morgan, which was mentioned to help log is wonderful. Glad I installed it.

[2016-01-23 00:13] estevanmaito commented on #38
Hey @EthanRBrown , how are you?

I found that the problem is with Zombie. All the issues with ch05 and ch06 tests can be solved with this commit: https://github.com/YoussefKababe/zombie/commit/252196402cadb73b23a3182479b5e9e983774cc4

Saddly, the project seems to be abandoned.

I've changed the docs locally and it finally pass (node_modules/lib/history.js - line 394)!

[2016-01-23 00:33] estevanmaito commented on #38
Hey @EthanRBrown

I've made a PR (https://github.com/estevanmaito/zombie/commit/5584faa980efe5809312983dcbd6697088793d55) that solves this problem.

I've already changed history.js locally and it works!

[2016-01-27 00:32] marcdavies87 opened #59 "Chapter 14 - TypeError: Cannot read property 'requiresWaiver' of null"
From the end of Chapter 14, with the code from github I am seeing the following.

TypeError: Cannot read property 'requiresWaiver' of null
    at /home/marc/meadowlark/site/lib/cartValidation.js:5:58
    at Array.some (native)
    at Object.module.exports.checkWaivers [as handle] (/home/marc/meadowlark/site/lib/cartValidation.js:5:17)
    at next_layer (/home/marc/meadowlark/site/node_modules/expr

[2016-01-27 00:42] #59 closed

[2016-01-27 00:42] marcdavies87 commented on #59
Cleared the session for the cart in the database and this resolved the above.

[2016-02-03 02:53] reybango commented on #50
Pull request seems to have been merged but @assaf [mentioned](https://github.com/assaf/zombie/pull/947#issuecomment-145929059) that since the CI tests aren't passing he wasn't going to include it in the release. Makes sense.

I went in and manually updated Zombie (which I hated to do for obvious reasons) with [this fix](https://github.com/YoussefKababe/zombie/commit/252196402cadb73b23a3182479b5e9e

[2016-02-11 16:18] reddhouse opened #63 "Chapter 07 - Uncaught ReferenceError: Handlebars is not defined"
Hi Ethan. I can't get the nursery rhyme examples in Chapter 7 to work. Line 23 in nursery-rhyme.handlebars causes the error: Uncaught ReferenceError: Handlebars is not defined

Line 23:
var nurseryRhymeTemplate = Handlebars.compile($('#nurseryRhymeTemplate').html());

Any suggestions?

[2016-02-11 16:55] EthanRBrown commented on #63
Hi, Justin,

Are you making sure to include (on the front end) the Handlebars library?  If you look at the [nursery rhyme view in the repo](https://github.com/EthanRBrown/web-development-with-node-and-express/blob/1.5.1/ch07/views/nursery-rhyme.handlebars), you'll see that on line 2 that the Handlebars library is included via CDN:

[code]

[2016-02-11 17:00] reddhouse commented on #63
Yes, I copied the entire nursery-rhyme.handlbars file verbatim from your repo.

[2016-02-11 17:05] EthanRBrown commented on #63
Hm, well, I just tested it and it's working fine.  Are you actually running `node meadowlark.js` and visiting http://localhost:3000/nursery-rhyme, or did you copy it into an HTML file to view without the server?  What OS are you on?

[2016-02-11 17:13] EthanRBrown commented on #63
I propped it up on a server so you can take a look at it:

http://104.131.135.52:3000/nursery-rhyme

I wouldn't trust that link to be around for more than 24 hours or so...that's just a dev server.

[2016-02-11 17:15] reddhouse commented on #63
Yes, I am running node meadowlark.js from the terminal, and I am on OS X 10.11.3 (15D21). Everything has been working well (minus the open issue with cross page testing & zombie) until chapter 7.

I never forked your repo but was rather manually typing the code, or copying/pasting from your files. So, there are areas where there might be difference because npm gave me newer versions in some cases.

[2016-02-11 17:20] EthanRBrown commented on #63
I just downloaded your repo and tried it.  The problem is the `head` section is not getting rendered server-side.  If you look at the HTML source when you visit the browser, you'll see the `head` section as referenced in the view isn't being rendered.  I'm taking a look now.

[2016-02-11 17:24] EthanRBrown commented on #63
You are not pulling in `_sections.head` in your `views/layouts/main.handlebars` file.  In that file, right before the closing `</head>` tag, add the following:

[code]

That fixes it right up!

[2016-02-11 17:33] reddhouse commented on #63
Indeed, and now I see you mentioned that was necessary at around location 2670 (in the kindle version). Sorry about that. I really appreciate your help, and have thoroughly enjoyed the book so far.

[2016-02-11 17:45] EthanRBrown commented on #63
I'm glad you're enjoying the book!  I hope to get to a second edition in 2017...there's lots I'd like to update!

[2016-02-11 17:45] #63 closed

[2016-02-11 17:59] SisypheanPivot opened #64 "Chapter 5: Functional Testing Errors"
Hey Ethan,

First want to say that I'm really enjoying working through your book. I've wanted to learn Node and Express for awhile, I this is the right book for me.

However, I'm having some issues with the Cross-page tests in Chapter 5. I've seen a few people post about these tests, but I haven't been able to find out what I'm doing wrong. I've been poring over the docs for Zombie, but they've fa

[2016-02-11 18:03] SisypheanPivot commented on #64
Ha, never mind. Found a post with the same issue. Sorry for the redundant post.

[2016-02-11 18:03] #64 closed

[2016-02-11 18:14] EthanRBrown commented on #64
Hi, Nick,

No problem...I know this has been a thorn in the side of many readers.  It's been so problematic, in fact, that I am recommending people simply skip the crosspage tests and move on.  In future versions of the book, I will probably mention it, but not provide instructions: it's really a QA function (and would probably be more appropriate for a dedicated book on QA).

Best,
  Ethan

[2016-02-11 22:28] philreyes commented on #50
Chapter 5 crosspage-tests did not work at first. ("Error: timeout of 2000ms exceeded. Ensure the done() callback is being called in this test.") I also found that the referrer field was empty in the console after running the mocha test. Here is how I fixed it:
1. Included the extra-code (several files have to be amended, described there) from the WDNE github repo chapters 5 and 6
2. put the jquery

[2016-02-13 17:10] reybango opened #65 "express3-handlebars npm package renamed"
Creating this as an FYI for the next update to the book. express3-handlebars has been renamed to express-handlebars. See [here](https://www.npmjs.com/package/express3-handlebars).

@EthanRBrown you may have already seen it but I didn't see it in the issue tracker.

[2016-02-13 17:50] reybango commented on #65
Closing since I noticed in another, unrelated issue that you're aware of the change.

[2016-02-13 17:50] #65 closed

[2016-02-16 23:49] reybango opened #66 "Suggestion for ch 7 "Sections" topic"
In ch7, there's a section that dives into the concept of "Sections" within your view. Cool way to use Handlebars helpers but I wanted to offer some feedback to make it a little clearer:

1. You should explain what `options.fn()` does. I had to go to the Handlebars site to find a reference to it and even then it wasn't very clear on what it actually does.
2. The section in the book ends without exp

[2016-02-17 00:09] EthanRBrown commented on #66
Thanks for the feedback, Ray, those are all good points.  I know you've got some additional PRs, which I will get to soon!  I am going to leave this open because I'll use it as a reminder to make changes to the copy in the book.

[2016-02-29 07:23] bdageryd opened #67 "Chapter 13"
The project goes bananas after cart/add on Klimbing in Bend. I am new at this programming, but I will try to fix it. The problem is in // use domains for better error handling

1. app.use(function (req, res, next) {
    // create a domain for this request
    var domain = require('domain').create();
    // handle errors on this domain
    domain.on('error', function (err) {
        console.error('

[2016-03-01 07:40] xvinc opened #68 "mongoDB"
"C:\Program Files (x86)\JetBrains\WebStorm 11.0.2\bin\runnerw.exe" "C:\Program Files\nodejs\node.exe" meadowlark.js
{ [Error: Cannot find module '../build/Release/bson'] code: 'MODULE_NOT_FOUND' }
js-bson: Failed to load c++ bson extension, using pure JS version

##############################################################
#
#   !!! MONGOOSE WARNING !!!
#
#   This is an UNSTABLE release of Mongo

[2016-03-01 16:19] EthanRBrown commented on #68
Yes, you will have to upgrade Mongo for use in production.  What is your question, exactly?

Also, it looks like you don't have an entry `mongo` in your `credentials.js` file (which is why you're getting the `Cannot read property 'development` of undefined` error.

[2016-03-01 16:32] EthanRBrown commented on #67
When including log output like that, please use code formatting (three backticks)...it's very hard to read that stack trace.

You might have a tough one there...it looks like a recursive call without a stopping condition, but without being able to look at your code, it would be hard to track down.  Do you have your repo on GitHub?  I could take a look.

[2016-03-01 17:07] bdageryd commented on #67
I 've used Visual Studio 2015 to work on the project. I did some changes. I moved code from newsletter and weather to newletter.js and weather.js to lib folder.
I also moved the writing initialize of Vacation rows to lib with help of the model Vacation.
When I got the error, I thought it was something in my code that was the problem. Then I downloaded the whole project from github and make so smal

[2016-03-07 10:16] bdageryd commented on #67
The problem was in session-mongoose 0.4.1 I upgraded to the latest 0.5. and now it works

[2016-03-07 23:06] usmany commented on #9
Hi @Talamantez,
This is happening also to me, did you figured out the reason? I have been looking the whole afternoon and I can not find anything. Maybe because I am using express-handlebars instead of express3-handlebars?

Thanks in advance

[2016-03-07 23:07] EthanRBrown commented on #9
Sorry to let this drop...let me take a look now.

[2016-03-07 23:08] usmany commented on #9
Thanks Ethan! I have been loving your book a lot!! Thanks

[2016-03-07 23:09] EthanRBrown commented on #9
Gentlemen, without some source code, I can't really tell what's going on.  It's working out of the box for me in the repo, so there must be some difference in your repo, or perhaps a platform-specific issue.  It's not because you're using `express-handlebars` instead of `express3-handlebars, @usmany, that was just a rename for the newer version of it.  If either of you could share your repo with m

[2016-03-07 23:09] EthanRBrown commented on #9
Thanks, @usmany !

[2016-03-07 23:16] usmany commented on #9
Ethan,
Excuse me please, I will do it tomorrow as I have to get out now for work :(

[2016-03-07 23:28] EthanRBrown commented on #9
No problem, I look forward to seeing it!

[2016-03-08 20:41] usmany commented on #9
Hi Ethan,
Here is my github repo https://github.com/usmany/learnNodeExpress.git
I am a total newbie in all of this, I don't know if there is a better way to share it.
Thanks for your time

[2016-03-09 21:22] usmany commented on #9
I must be doing something very wrong and I can not find what it is. I continued with the sections part and they are not rendered neither. It is like if the handlebars tags are processed but at the same time ignored.

[2016-03-09 21:40] EthanRBrown commented on #9
Alright, I will take a look at this this afternoon...we'll get it figured
out!

/e

On Wed, Mar 9, 2016 at 1:22 PM, Many <notifications@github.com> wrote:

[2016-03-10 00:03] EthanRBrown commented on #9
Hi, @usmany,

There were two problems with your code.  The first was due to some changes to `express-handlebars` after I published the book.  They added the feature whereby you could provide a new template for partials by setting a property in `res.locals.partials`.  For example, if your partial is called `weather`, and you set `res.locals.partials.weather`, instead of passing that along as contex

[2016-03-30 20:30] regalised commented on #64
Hey Nick/Ethan,

How did you solve this issue?

[2016-04-01 01:58] tktk8924 opened #69 "How to keep user's input after redirect to display flash message"
Hi,

Regarding FORM, is there any good practice to keep user's input after redirect to referer page?

Thank you for your great book!

[2016-04-03 10:19] jason-ca commented on #53
I confirm Markzero's fix works, the difference with my code is that I do app.use(csrf({cookie: true})); it's interesting why hidden field doesn't work. Do I understand correctly the the fix is not very clean and it the is actually a security hole? I.e. that adding "?something" to request will expose the token?

[2016-04-04 10:03] jason-ca commented on #53
Ok, I've the solution here - https://github.com/expressjs/csurf/issues/15, I will clairify it here for people coming over from Google, as it took me some time to understand it, try a few options from there and properly implement. (I'm a newbie).
Despite the above Markzero's fix with query parameter works, as I mentioned, it's not really safe, follow the link to Spring.io above to see why.
Ssso, fo

[2016-04-08 03:36] mknabe opened #70 "Ch 5 question about continuous integration for page tests"
Hi,
I just finished Ch 5, and I am trying to run the page tests in Travis CI. Can you point me in the right direction?

I can convert the tests to behave basically like the cross-page tests and that works, but I was wondering if there is a better way.

For anyone interested, I have the unit and cross-page tests working with these changes https://github.com/mknabe/MeadowlarkTravel/commit/69763f37b6

[2016-05-04 06:17] norain2050 commented on #70
1、the Zombile V3.1：may be good,but the lastest version is bad .

2、The Zombile master version have a bug,and also have been solved,but it havenot been merge to the master version .So,we are waiting....

Here is the bug:
https://github.com/estevanmaito/zombie/commit/5584faa980efe5809312983dcbd6697088793d55

[2016-05-04 06:35] ywgu commented on #32
What's the solution? I got the same issue.

[2016-05-04 07:19] norain2050 commented on #38
Hey @estevanmaito
I use the way  (estevanmaito/zombie@5584faa)https://github.com/estevanmaito/zombie/commit/5584faa980efe5809312983dcbd6697088793d55
but,it has no port:3000

like:
(1)test3.js

/**
 * Created by xinyiba on 16/5/4.
 */
const Browser = require('zombie');
Browser.localhost('localhost', 3000);
describe('User visits test-crosspage ', function() {
    const browser = new Browser();
    c

[2016-05-06 03:54] liushun8910 commented on #64
the Zombile V3.1：may be good,but the lastest version is bad .
The Zombile master version have a bug,and also have been solved,but it have not been merge to the master version .So,we are waiting.

here is the link: https://github.com/estevanmaito/zombie/commit/5584faa980efe5809312983dcbd6697088793d55

[2016-05-13 21:19] vkelman opened #74 "JSHint: 'require' is not defined.'"
Not really an issue, just a question:

In chapter 5 you're saying, "If you’ve been following along, JSHint shouldn’t have any complaints about meadowlark.js".  However, it does complain saying that 'meadowlark.js: line 1, col 15, 'require' is not defined.'  etc.  It's a false positive,  right? But how to teach JSHint that require() is a built-in method of NodeJs?

[2016-05-13 22:04] EthanRBrown commented on #74
JSHint has changed a lot since the book was written, and I haven't had an opportunity to go through and do a thorough update of the book, unfortunately.  I'm hoping to do that this summer.  I'll probably be moving from JSHint to ESLint at any rate!

[2016-05-17 03:28] congthanhgiong opened #75 "missing credentials.js"
It's nowhere to be found in all chapters.

[2016-05-17 03:46] EthanRBrown commented on #75
That's intentional; credentials are not in the repo because you can't have
the credentials to my email relay, databases, and social media! I discuss
this in the book; you will have to create your own credentials.js file with
your own credentials; I walk through this step by step in the book.

On Monday, May 16, 2016, congthanhgiong <notifications@github.com> wrote:

[2016-05-23 14:48] RaduGrama opened #76 "linkchecker no longer available on OS X"
For chapter 5, linkchecker is no longer available for OS X (installation instructions are still available for OS X on the linkchecker site, but they do not work) and I was curious if you have any recommendation for a similar tool that does have support for OS X as well.

[2016-05-24 20:59] vkelman opened #77 "Zombie.js on Windows"
Just wanted to confirm: is it still impossible to install Zombie.js on Windows?
If possible, can someone provide links / instructions?
Is that hard for novice user like me?

[2016-05-24 21:49] #74 closed

[2016-05-25 12:58] vkelman opened #78 "Chapter5: grunt issues (on Windows 7)"
For inexperienced user like me problems with setting up tests lead are often much more significant than with running actual code, it leads to just ignoring tests ...

For me trying to run any of these

npm install --save-dev grunt-cafe-mocha
npm install --save-dev grunt-contrib-jshint
npm install --save-dev grunt-exec

Leads to following errors:

npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\\Pro

[2016-06-09 12:17] YuryBY commented on #63
@EthanRBrown, sorry, didn't found your email, so adding question to the thread:
we used handlebars.js with Handlebars.VERSION = "1.0.0-rc.3";
today I tried to update the .js to v4.0.0 (replaced the old one by  handlebars-v4.0.0.js) but get following error: Handlebars is not defined in var template = Handlebars.compile(content);
There is really no Handlebars var in the .js. What I did wrong? How ca

[2016-06-09 18:53] EthanRBrown commented on #63
Hi, @YuryBY ; I have not been able to keep the content of that book up to date with the latest version of Handlebars.  According to the current documentation `.compile` is still available, so I'm not sure why you would be experiencing this.  I am planning on a new edition of the book within the coming year, but I'm afraid for now you'll have to dig in and figure out what the changes from the old t

[2016-06-10 15:04] YuryBY commented on #63
@EthanRBrown , thanks for the reply. It was needed some changes in our configs since file name had been changed from handlebars.js to handlebars-v4.0.5.js.

[2016-06-15 03:41] mikeycarreiro commented on #78
Just ran into the same issue. I was able to workaround this issue by installing version 0.4.1 of grunt, which looked to be the closest version requirement of all the dependencies thrown out in the error messages.

`npm install --save-dev grunt`

That said, if anyone else is familiar, are there new or better dependencies that work with "grunt": "^1.0.1"? Some initial google searches show it's quite

[2016-06-17 14:48] vkelman commented on #78
By the way, am I right that these issues have nothing to do with OS I'm working on? Those are NodeJs modules, the same for Windows, Linux, etc, correct?

[2016-06-17 17:20] EthanRBrown commented on #78
Sorry I haven't been able to respond routinely to this thread...work is busy, and my partner and I have a baby on the way!

@vkelman , it is frustrating, I understand, and I'm sorry.  Heck, it's frustrating for those of us who  _are_ experienced users.

I haven't run across this problem with grunt, but doing a little research, the problem looks like it might be related to global modules.  Grunt is

[2016-06-21 16:14] vkelman commented on #78
Ethan,

Thank you for support. I totally understand and don't expect immediate solutions.

[2016-06-29 05:38] teemuniiranen opened #79 "ch15: api domain error handling"
I tried to throw new error inside my rest route to test api domain with:

throw new Error("Yikes");

Middleware defined in the start of the meadowlark.js kicks in and prints "DOMAIN ERROR CAUGHT" to log. Why is not apiOptions.domain handling the error? Is this because the other one is defined first or am I understanding something wrong?

[2016-06-30 11:46] ChadKreutzer commented on #50
I fixed it by updating zombie to the latest version, then changing the lines in its history.js file per 	[Youssef Kababe's pull request](https://github.com/assaf/zombie/pull/947/commits/252196402cadb73b23a3182479b5e9e983774cc4). after that, I modified the tests-crosspage.js file to use the [browser.localhost](https://github.com/assaf/zombie#browser) and [browser.assert.input](https://github.com/as

[2016-08-08 12:58] fasdgoc opened #80 "Zombie.js on book's version was deprecated ?"
In this book, Zombie.js is used like below

    var Browser = require('zombie'),
        assert = require('chai').assert;

    var browser;

    suite('Cross-Page Tests', function () {
      setup( function () {
      browser = new Browser();
    });

    test('requesting a group rate from the hood river tour page' +
      'should populate the referrer field', function ( done ) {
        var refer

[2016-08-08 13:34] fasdgoc commented on #80
Uncaught AssertionError: No link matching '.requestGroupRate'

[2016-08-08 13:35] fasdgoc commented on #80
Had an typo sorry

[2016-08-08 13:35] #80 closed

[2016-08-12 19:04] reynoldssb commented on #50
package.json

"devDependencies": {
    "chai": "^3.5.0",
    "mocha": "~1.20.1",
    "zombie": "~2.0.0-alpha31"
  }

  Cross-Page Tests
    ✓ requesting a group rate quote from the hood river tour page should populate the hidden referrer field correctly (1475ms)
    ✓ requesting a group rate from the oregon coast tour page should populate the hidden referrer field correctly (1291ms)
    ✓ visiting

[2016-09-09 09:00] kilgarenone opened #81 "Chapter 7: Sections"
Hello,

I'm stuck in the 'Sections' part of the templating with handlebars chapter.

I have added the section helper to express3-handlebars instance, created the 'views/jquerytest.handlebars', and placed '{{{_sections.head}}}' and '{{{_sections.jquery}}}' in the layout.

But the corresponding 'sections' are missing in the DOM. Am I missing something?

[2016-09-12 09:56] rockoff commented on #81
Have same problem. "express-handlebars": "^3.0.0"

[2016-09-12 12:44] rockoff commented on #81
My тemporary solution for this issue:
...
if(!**app.locals**._sections) **app.locals**._sections = {};
**app.locals**._sections[name] = options.fn(this);
...

[2016-09-13 03:36] ABordewyk commented on #81
Have you updated the section of your app's js file where the handlebars engine is set up? It should look something like this-

[code]

[2016-09-13 04:04] kilgarenone commented on #81
@rockoff I tried your solution but didn't work :( . Do I have to change anything elsewhere? Thanks!

@metalsh33p Yeah, that's exactly what the book says, but doesn't work :(

[2016-09-13 04:58] metalsh33p commented on #81
Is your learn-Express repository currently up-to-date? I'm looking at the app.js file and there isn't any routing for the jquery-test view. I was able to download your project and have the view work by adding the following route-
[code]

[2016-09-13 18:13] reybango opened #84 "Location of unit test"
Hey @EthanRBrown, curious why you setup tests-unit.js in /qa instead of /public/qa. Didn't seem to mention anything in the book.

[2016-09-13 20:18] reybango commented on #81
@metalsh33p yep that's the issue. Unfortunately it's not mentioned in the book. I just ran into this right now. @EthanRBrown, noting this so you can update for the 2ed. of the book.

[2016-09-13 22:51] metalsh33p commented on #84
I'm guessing one reason is because the tests in /qa and /public/qa are executed differently. tests-unit.js is run from the command line while those in /public/qa are handled in the browser.

This distinction in folders is important when you go to automate testing with Grunt. You would have to be much more specific in your grunt config as to which tests it should automate if you lumped all the test

[2016-09-14 02:33] kilgarenone commented on #81
@metalsh33p I noticed in your code snippet was using 'express-handlebars' as opposed to 'express3-handlebars' as written in the book. So I installed the 'express-handlebar' and start using it. But now it can't render the 'home':

_Error: You must pass a string or Handlebars AST to Handlebars.compile. You passed [object Object]_

So I used back the 'express3-handlebar' package and added the route f

[2016-09-14 02:42] reybango commented on #81
@kilgarenone re: the sections, what you're basically doing in your layout page (main.handlebars) is creating placeholders where your specialized code should sit. That specialized code is what you define in the sections on each template page. The premise behind it is that each page may have specific & unique functionality that needs to be included. So for about.handlebars, you may want to include j

[2016-09-14 03:48] kilgarenone commented on #81
Many thanks to @reybango and @metalsh33p !! I just wrapped my head around it..

One last thing if I may and probably a different issue: Should I continue to stick with 'express3-handlebar' or switch to the 'express-handlebar' package?

[2016-09-14 03:53] reybango commented on #81
@kilgarenone definitely switch to express-handlebar since it's the package that the maintainers have switched to and will give you the updates you'll need.

[2016-09-14 08:10] #81 closed

[2016-09-14 21:11] captainjspace commented on #64
Hi:,
It's the chai assert api that seems to be excitable...

Not sure if this is the best solution but I modified the tests to be
		     if (browser.field('referrer').value !== referrer)
			 assert('referrer from hood river tour page required');
and that seems work fine.  I checked by removing the hidden field from request-group-rate.handlebars, and also removing the changing the name of the field

[2016-09-15 01:22] kilgarenone commented on #28
@gustavoandrescabral thank you for posting this!

[2016-09-15 01:43] EthanRBrown commented on #58
Sorry to be late to the parade on this one.  I'll be removing cross-browser testing with Zombie in the next edition of this book...there have just been too many problems with it, and I think there are better solutions now.

[2016-09-15 01:43] #58 closed

[2016-09-15 01:44] EthanRBrown commented on #70
I will be removing the cross-page tests with Zombie in the next edition of the book.  It's just been the cause of too much trouble and reader confusion, and I think there are better ways to fly now.

[2016-09-15 01:44] #70 closed

[2016-09-15 01:45] EthanRBrown commented on #32
Hi, @johnwargo , I too am curious about the solution...I imagine it's a `session-mongoose` version issue...undoubtedly they changed the name of something?  Curious minds would like to know....

[2016-09-15 01:47] EthanRBrown commented on #77
Hi, @vkelman , it's not impossible (never has been), just very difficult.  I will be removing cross-page testing with Zombie in the next edition of this for this and many other reasons.

[2016-09-15 01:47] #77 closed

[2016-09-15 01:48] EthanRBrown commented on #74
@vkelman you're absolutely right about JSHint having changed a lot...and I too will be moving to ESLint in the next edition of the book

[2016-09-15 01:52] EthanRBrown commented on #84
Yes, @metalsh33p is correct.  `test-unit.js` are unit tests designed to be run on the back end, and therefore don't belong in `public`.  If there were unit tests for front-end code, it's conceivable that the code should go in `public`, but browser-side testing is more difficult to automate.  I'll be making pretty significant changes to the way testing is approached in the next edition of the book.

[2016-09-15 01:52] #84 closed

[2016-09-15 01:52] EthanRBrown commented on #81
Thanks for the notes everyone, and this is definitely one of the things I'll be fixing in the next edition of the book.

[2016-09-15 01:54] EthanRBrown commented on #64
@captainjspace thanks for pointing that out...I would not have thought to look at Chai for the source of the problem!  I probably won't be using Chai at all for the next edition....

[2016-09-15 02:43] johnwargo commented on #32
Oh, gosh, I have no idea.  Sorry. I should have posted the solution.  I didn't, so it must have been something stupid on my end.  If I think of it, I'll come back and post

[2016-09-18 13:17] Pinnock commented on #78
All,
I was able to resolve all the errors listed in the original post by using grunt 0.4.1 (instead of 1.0.1). I then installed grunt 0.4.5 and the errors were still resolved.  Instructions on how to install specific versions of grunt can be found here: http://gruntjs.com/installing-grunt

Ethan,
I am looking forward to the new edition of your book. If I may make a suggestion, since these tools ch

[2016-09-19 17:25] vkelman commented on #78
@Pinnock - good idea about using specific version numbers in package.json. I'm readying [Angular 2 Development with TypeScript](https://github.com/Farata/angular2typescript) book in parallel, and there are similar issues with all the packages evolving fast. Specifying exact package versions which were tested to run on Linux and Windows, then, after a while, upgrading them, and testing again is the

[2016-09-30 18:56] reybango opened #85 "TypeError: rest.rester is not a function (CH15)"
Hey guys, I'm getting the following error when trying to use the connect-rest package per the code in ch15. Here's the error:

app.use(rest.rester(apiOptions));
             ^
TypeError: rest.rester is not a function

I'm pasting the approximately line to my code here:

https://github.com/reybango/meadowlark/blob/master/meadowlark.js#L179

I also looked through the package's docs and even tried do

[2016-09-30 21:35] EthanRBrown commented on #85
Hi, Ray,

Lots has changed with `connect-rest` (I actually just got a nice email from the maintainer/author), but I probably won't have time to take a look at the problem specifically until this weekend...but I will get to it!

/e

[2016-09-30 21:48] reybango commented on #85
Hey @EthanRBrown yeah I pinged them today and they gave me the updates. Thread [here](https://github.com/imrefazekas/connect-rest/issues/37). The only issue I'm having now is that I need to specify double slashes to hit the API when vhost is used. Like this:

Not sure what's causing that. My repo code for that starts [here](https://github.com/reybango/meadowlark/blob/master/meadowlark.js#L178).

A

[2016-10-03 16:43] reybango opened #87 "CH16 reference to static main.css missing quotes"
Adding this here for addition to the addendum and updates to the 2ed copy of the book.

In the book, the code being mentioned on pg 186 says to define the static resource like this:

`<link rel="stylesheet" href="{{static /css/main.css}}">`

It's missing single quotes around the file path and file name like this:

`<link rel="stylesheet" href="{{static '/css/main.css'}}">`

Without them it'll not

[2016-10-06 02:21] reybango opened #88 "ForbiddenError: invalid csrf token"
Hey all, in ch18 I'm asked to install `csurf` to help prevent CSRF.  Unfortunately I keep getting the following error message:

I've:

- compared the code to the ch18 repo
- installed the older version of the package
- used the code samples from the `csurf` page
- tried changing the position of the middleware definition
- deleted any errant cookies
- confirmed that the token is being added to the

[2016-10-06 02:45] reybango commented on #88
Figured it out. The call to `csurf` needs to be below the call to `body-parser`. Found it via the `csurf` Github issue tracker. https://github.com/expressjs/csurf/issues/52#issuecomment-73981858

[2016-10-06 02:45] #88 closed

[2016-10-19 17:15] richcfml commented on #64
Thank you captainjspace. I am running Zombie v4.2.1 and the issue still there, well since it is chai it may not matter much, but thanks for the tip. That solve my problem as well.

[2016-11-13 12:34] DemisIt commented on #64
That solve  problem: assert(browser.resources[0].request.headers._headers[0][1] === referrer);
http://stackoverflow.com/a/35952530

[2016-11-14 16:50] devviua commented on #64
Hi,
that's can be done without chai:
`browser.assert.element('form input[name=referrer]', referrer);`
this line use only zombie.js but it slow (2 passing = 493ms).

Thank You, Ethan, at the moment enjoy your book.

[2016-11-18 11:21] SETTER2013 commented on #64
Excellent book!
Zombie in error not yours.
Two days spent on correcting errors, but went here and there it is saved:
https://github.com/estevanmaito/zombie/commit/5584faa980efe5809312983dcbd6697088793d55
During this time, I learned to understand the tests, thank you.
Mistakes are even useful!
MEAN taxis!

[2016-11-21 03:37] markgreenwood commented on #58
Ethan, are you planning to go the Selenium route instead?

[2016-12-07 16:52] devviua opened #89 "ch15. before: Using a REST Plugin"
by book example, before using 'connect-rest' if someaone want to try created app need to use:

var bodyParser = require('body-parser');
app.use(bodyParser.json());

for parsing request parameters.

[2016-12-13 22:51] folamy commented on #53
@jason-ca ....Thank you so much........ it actually works

[2016-12-21 09:12] ShahidYousuf opened #90 "ch07 Client Side Handlebars; handlebars.compile() error"
error : nurseryRhymeTemplate is not a function.
When clicked on "Generate nursery rhyme" the browser throws this error and nothing is rendered.
All site files same as stated in the book.

[2016-12-21 09:13] nhs-webleym commented on #90
I'd refer to the file structure on git.  As its not 100% clear from the book what goes where.
I had similar issues.

[2016-12-21 09:42] ShahidYousuf commented on #90
Yea, I do actually have the same structure myself but I still encounter the error.

[2016-12-21 09:44] nhs-webleym commented on #90
No. I had difficulties tho. Then I copied the structure and code from the commit and it worked fine.

[2017-01-02 08:30] hanabiai opened #91 "How should I deploy test app with my credentials.js to heroku via travis in github?"
Hello, E.Brown. & other contributors.
I have one question in ch. 21 for deployment to heroku via travis in github.
Is there any way to deploy test app with my credentials.js  secretly?
For now, in local & remote git repository, credentials.js is added to .gitignore.
thanks in advance.

[2017-01-06 04:13] hanabiai commented on #91
I guess there is no way to deploy credentials.js directly to Heroku with any other secret type.
so deployed successfully testing with Heroku Local and setting up Heroku config vars.
Heroku Local reads local configuration variables from a .env file that is like .credentials.js for development environment.

done with below steps.
1. after making .env file in app root, copy all code in credentials.js

[2017-01-06 04:13] #91 closed

[2017-01-10 16:56] underser commented on #32
The solution for me be:
 - remove latest version of connect(that be 3.5.0)
 - install connect version 2.0.0

[2017-01-13 23:00] nikolaysalinder commented on #38
Hi all! Tx Ethan for this cool book!! I'm from Russia and this book translated on russian. Now zombie work on windows but for correct working need to change qa/tests-crosspage.js like https://github.com/nikolaysalinder/Meadowlark-Travel/commit/8a90f15c9e0ae6def6b66fd554941377f7b58fb6

[2017-01-22 06:13] beiweiqiang commented on #28
@gustavoandrescabral thanks, fix my bug 👍

[2017-01-30 18:18] satyam22 commented on #28
as this is my first experience with node and express. i was stuck with that handlebar problem, **big thanks** for helping me out

[2017-02-02 05:15] qiujumper commented on #19
I'm having this issue as well, not sure what happened, please help us:)

[2017-02-19 01:30] takinola commented on #53
The only issue with @jason-ca's solution is that multer will still upload the files if the CSRF fails (because multer processing happens before the CSRF check is performed).

[2017-02-21 23:10] DanStockham commented on #28
I've tried the fixes and I'm still having the issue with "Error: The partial weather could not be found"

I've updated the calls using weatherContext, partialsContext, and some of the suggestions of the OP. I even updated the version of express-handlebars and copied the code from the repo.

[2017-02-22 00:32] EthanRBrown commented on #28
Hi, @DanStockham, I just ran the code from the companion repo, and it works fine.  Can you paste your `package.json` file, and tell us what OS you're on?

I'm currently working on a 2nd edition of this book, and LOTS has changed in the 2-plus years this book has been on the shelves.  The 2nd edition is a pretty massive overhaul.

[2017-02-22 23:44] DanStockham commented on #28
Here is a snippet of package.json. I'm also using Ubuntu 16.04.

[code]

[2017-02-25 03:28] #33 closed

[2017-03-06 22:09] simplist88 commented on #28
I'm also facing same issue in Window OS. Is there any clue of this issue?

Error: The partial weather could not be found"

[2017-03-07 02:53] EthanRBrown commented on #28
Hi, @DanStockham and @simplist88,

I'm afraid I was not able to reproduce your problem in either Linux or Windows...and I switched to the exact version of `express-handlebars` that you're using.  So here are some things to check:

- Are you using the right extension?  Make sure when you initialize `express-handlebars`, you are using the same extension (`extname`) as you are.  In other words, if yo

[2017-03-07 19:24] ChrisHird commented on #38
The problem appears to be with the use of chai.assert. When I updated the code to use the zombie browser.assert method it worked as it should have done. The updates suggested by @estevanmaito work other than he left one of the tests using the chai.assert method. Here is the completed test that I have ran on both IBM i (ppc64) and Linux (debian) with satisfactory results.

[code]

[2017-03-07 23:42] EthanRBrown commented on #38
Thanks everyone for the contributions!  In the next edition of the book (which I'm working on now), I will be moving away from Zombie.  It's still a useful testing tool, but I think it has caused more problems in this book than it has solved.  Thanks again for reading!

[2017-03-12 22:32] simplist88 opened #92 "Chapter 13: MongoError: failed to connect to server [localhost:27017] on first connect"
Hi Ethan,

I'm learning node.js with your awesome book. unfortunately I stuck in chapter 13, regarding mongo DB connection.

I'm getting "MongoError: failed to connect to server [localhost:27017] on first connect" every time I attempt to run server on my local machine.

I've connected to hosted DB with URL provided by mlab console. do you have any clue what is causing this issue?

[2017-03-12 22:53] EthanRBrown commented on #92
Can you share the connection string you're using?  You can redact the username/password information (just show it as `user:****` or whatever).

[2017-03-12 23:10] simplist88 commented on #92
Hi Ethan,

Fortunately it was just typo mistake.. guess I should be more patient before raising issue here..!

[2017-03-12 23:10] #92 closed

[2017-03-13 00:37] EthanRBrown commented on #92
No problem, glad you were able to solve it!

[2017-03-27 15:47] AliAtrash commented on #88
Thanks! Had the same problem.

[2017-03-30 08:01] duckhee commented on #5
hi I have a problem I try ch 10 another error. It is parse error.
Error: Parse error on line 67:
...pt></body></html>
--------------------^
Expecting 'OPEN_INVERSE_CHAIN', 'INVERSE', 'OPEN_ENDBLOCK', got 'EOF'
    at Object.parseError (/home/won/Desktop/work/workspace/nodejs/node_modules/handlebars/dist/cjs/handlebars/compiler/parser.js:267:19)
    at Object.parse (/home/won/Desktop/work/workspace

[2017-03-30 08:04] duckhee commented on #5
this is source meadowlark.js

var fortune = require('./lib/fortune.js') ;

var express = require('express') ;

var formidable = require('formidable') ;

var jqupload = require('jquery-file-upload-middleware') ;

var credentials = require('./credentials.js') ;

var app = express() ;

var handlebars = require('express-handlebars').create({defaultLayout: 'main', helpers: {section: function (name, opt

[2017-03-30 14:46] duckhee opened #93 "ch10 body-parser error"
hi I have a problem I try ch 10 another error. It is parse error.
Error: Parse error on line 67:
...pt>
--------------------^
Expecting 'OPEN_INVERSE_CHAIN', 'INVERSE', 'OPEN_ENDBLOCK', got 'EOF'
at Object.parseError (/home/won/Desktop/work/workspace/nodejs/node_modules/handlebars/dist/cjs/handlebars/compiler/parser.js:267:19)
at Object.parse (/home/won/Desktop/work/workspace/nodejs/node_modules/h

[2017-03-30 16:04] EthanRBrown commented on #93
Hi, Won.  A little Googling tells me that the error you're getting points to an error in your Handlebars, not the JavaScript.  Can you provide the Handlebars code for the page that's producing this error?

Also, it's extremely hard to read these comments when you don't use Markdown formatting.  Instead of just dumping your code into a comment, please try to use the Markdown features, so your code

[2017-03-31 00:48] duckhee commented on #93
do you mean not javaScript error? how to fix it?  I am not sure what it is mean ?? I don't have good english skill ... so don't understanding this means.... I try study back chater, and give me some advice study what chater?

[2017-03-31 00:50] duckhee commented on #93
sorry for long answer and see you bad codding error stack

[2017-03-31 15:47] EthanRBrown commented on #93
Hi, Won,

There's no need to apologize for your English; I don't speak any other languages, so It's always impressive to me when someone is bi-lingual!

I mean that I don't think your problem is in JavaScript, I think it's in one of your Handlebars (`.handlebars`) files.  Can you share the Handlebars file from the page you're trying to access when you get that error?

For example, if you're going

[2017-04-01 07:05] duckhee commented on #93
i got it this is may be hadlebars error ??  ok , i try fix main.handlebars, and study handlebars

[2017-04-03 22:47] QKKQQK commented on #90
Check the #section head and make sure you typed the script src correctly, if there is a typo Handlebars will be undefined.

[2017-04-04 08:35] duckhee commented on #93
hi , this is main.handlebars code ... I try study, but couldn't find error code..
this is code

<!DOCTYPE html>
<html>
<head>
<meta charset = "utf-8">
<meta http-eequiv = "X-UA-Compatible" content = "IE=edge, chrome=1">
        <title>Meadowlark Travel</title>
        {{#if showTests}}
                <link rel = "stylesheet" href = "/vendor/mocha.css">
        {{/if}}
        {{{_sections.head}}}

[2017-04-04 08:36] duckhee commented on #93
and this is home.handlebars code

<h1>Welcome to Meadolark Travel</h1>
{{>weather}}

[2017-04-04 15:31] EthanRBrown commented on #93
Hi, Won,

The problem is right here:

[code]

The closing `{{if}}` is missing a slash.  It should be `{{/if}}`

[2017-04-05 00:51] duckhee commented on #93
oh i see sorry for asking very simple error code .....  thanks you !!

[2017-04-05 00:52] EthanRBrown commented on #93
No problem, Won, that happens to all of us!

[2017-04-05 00:52] #93 closed

[2017-04-05 04:05] kas commented on #48
@andrew-ware I am having the same issue as you. Would you be able to explain specifically what you did to resolve this issue? The only thing that fixed it for me so far is [using an uglier assert statement](https://stackoverflow.com/questions/29873284/how-to-use-zombie-to-test-input-type-hidden)

`assert(browser.resources[0].request.headers._headers[0][1] === referrer);`

But I'd rather stick to w

[2017-04-15 09:29] pdxrod commented on #50
Thank you, @markzero. It's taken me days to get Mocha tests working for a simple visit(page). I always got "_Error: timeout of 2000ms exceeded. Ensure the done() callback is being called in this test_", no matter how closely I followed the examples at stackoverflow.com and wherever else on the web I searched, no matter how much I littered the code with
`setTimeout(done, 4000)`
and
`.then(done, don

[2017-04-15 09:58] pdxrod commented on #50
Correction. My test works once. Then subsequent calls say
` Error: Timeout of 2000ms exceeded. For async tests and hooks, ensure "done()" is called; if returning a Promise, ensure it resolves.`
unless you delete folder node_modules and run
`npm install' to completely reinstall all the node modules. My code:
`
process.env.NODE_ENV = 'test';
var assert = require('assert');
var Browser = require('zom

[2017-04-15 10:27] pdxrod commented on #50
Try this example

http://krasimirtsonev.com/blog/article/Testing-with-headless-browser-Zombiejs-Jasmine-TDD-NodeJS-example

It works more than once in a row!

[2017-04-22 13:45] jamestrickey commented on #3
Hey - Sorry I know this thread is closed but @Cryptolemming - your work around worked for me too, and the hidden field is finally bing populated. Could anyone explain this to me?

Thanks!

[2017-04-22 22:34] EthanRBrown commented on #3
Hi, @Cryptolemming and @jamestrickey, I am curious too as to why this is necessary.  My repository still works unmodified.  Without the fix, what do you see on the "network" tab in your browser?  Any 404s or 500s?  If one of y'all want to share your repo with me, I can take a look.

[2017-04-23 05:04] jamestrickey commented on #3
Hey Ethan, thanks for getting back.

So the things I had to add were the following...

In main.js I had to add a helper to the handlebars creation or I got a 505 when navigating to the group rate page:

var handlebars = require('express-handlebars')
    .create({
        defaultLayout:'main',
        **helpers: {
            section: function(name, options){
                if(!this._sections) thi

[2017-04-23 05:05] jamestrickey commented on #3
Oh and sorry - i'm not working from a repo at the moment as travelling Australia in a van. Internet is hard to come by. :-)

[2017-04-24 16:16] EthanRBrown commented on #3
Hi, @jamestrickey , thanks for the info.  I'm working on a 2nd edition of that book which is going to have _substantial_ changes, especially in the testing/QA chapter.

Seeing Australia in a van sounds amazing!  Best GitHub feedback ever!

[2017-04-27 09:33] thisroot opened #94 "connect-rest cant return headers"
Hi,this descision cant return headers when i use connect-rest package.

[code]

[2017-05-09 14:32] tr2000 opened #95 "'linkchecker' is not recognized as an internal or external command, operable program or batch file. - Windwos10"
I installed lintchecker and, as per Chapter 5, created the gruntfile.js but got the error in the title.
On checking the actual installed filename in Windows/ Users/u_name/AppData/Roaming/npm, I found that the name was _'lintcheck'_.

This name works at the command prompt.
I changed the command in Gruntfile.js to:
  _cmd: 'linkcheck http://localhost:3000'_

grunt now works OK too

[2017-05-17 04:57] ASudri commented on #48
Hello! I fix this by adding in history.js (zombie) line "this.browser.referrer = this.current.url || this.current.window.document.referrer;" before line "var _document = loadDocument(args);".
And in test use some "brouser.referrer === null " expression. Also, add "--timeout 5000" in mocha command parameter.

[2017-06-03 17:43] eden90267 commented on #76
Hello, you can use 'grunt-link-checker' plugin with grunt.

1. install

[code]

2. setting

[code]

It's work very well.

[2017-07-12 06:33] Liqiankun opened #99 "Where is the credentials.js file"

[2017-07-13 20:02] EthanRBrown commented on #99
As described in the book, you have to create your own `credentials.js` file.  It contains the necessary credentials for external resources (like database providers, API credentials, etc.).  It is not a good idea to share those credentials, which is why it is "missing" fro the repo.  Full instructions for creating `credentials.j` starts in Chapter 10.

[2017-07-13 20:02] #99 closed

[2017-08-27 05:06] mpwashburn opened #100 "ch07 sections 'Parse' and 'Refused to load font' errors"
Hello,
I have gone through and quadruple checked my code to yours here in github for chapter 7. I cannot seem to figure out why sections is not working. Here are the errors I'm getting:

This is at the command line:

...    {{/if}}    {{{#_sections.head}}}
---------------------^
Expecting 'ID', 'STRING', 'NUMBER', 'BOOLEAN', 'UNDEFINED', 'NULL', 'DATA', got 'INVALID'

This is the error when inspec

[2017-08-27 16:55] mpwashburn commented on #100
I figured out my very simplistic mistake. I was using a # when calling the section into the template.

[2017-08-27 16:55] #100 closed

[2017-08-31 20:08] Rikazavr commented on #68
Hello, Ethan

I'm getting the same `Cannot read property 'development' of undefined` and in my credentials.js I wrote:

[code]

Is my syntax wrong?

[2017-08-31 20:58] EthanRBrown commented on #68
Hi, @Rikazavr, is that the entire contents of your `credentials.js` file?  If so, that's not going to export anything at all....  It will need to look something like this:

[code]

[2017-08-31 20:59] EthanRBrown commented on #100
Glad you figured it out!

[2017-09-01 10:40] Rikazavr commented on #68
Yes, now I got it.... Thank you for the quick response!

[2017-10-11 08:00] LonelyWolfLee commented on #64
Hi, Ethan.

Version if zombie.js is '5.0.7' and still have the issue.

and also @ghost 's solution have a problem.

This will pass anyway, no matter what 'referrer' have.

Even this also pass the test

So, I'm following to your recommendation.

Thank you for this excellent book.

[2017-10-16 07:49] fgelcer commented on #68
looks like my database isn't returning anything...
also, i have created manually "collections" and documents (as it wasn't created automatically), but i cannot read from it still... the only info i have so far is:

GET /vacations - - ms - -
GET /vacations - - ms - -

how can i debug it to understand if the problem is in the communication or in the DB itself?

[2017-11-24 02:00] johnfdhartman commented on #3
I was getting this error for tests-about.js. After some debugging it seems the problem was that the `<a href='/contact>` in about.handlebars was appearing as `<a href='localhost:3000/contact'/>` in the browser, so `assert($('a[href="/contact"]').length)` was returning 0. Presumably this is due to a change in the handlebars transpiler?

In any case, I fixed it by running a slightly different test:

[2017-11-26 14:49] romanson-god commented on #77
Now 2017, I installed latest zombie 5.0.7 via "npm install --save zombie".
It's working on Windows, I have Windows XP, yes it still live:)
As I understand, now Zombie has its own assertions, so we don't need Chai for it.
1. Remove "assert = require('chai').assert;", just leave requiring zombie.
2. Replace strings like this "assert(browser.field('referrer').value === referrer);"
with "browser.asser

[2017-11-26 19:56] EthanRBrown commented on #77
Thanks for weighing in, @romanson-god ; glad to hear it's working on Windows.

[2017-12-27 15:40] wajihkm commented on #53
I think the problem is that:
"multipart/form" send chunks of data so at the server you can't access the body inputs directly,
you must wait till the end of uploading so you can access all the body fields.

[2017-12-28 02:30] ADAUS-joneill commented on #3
I've tried all of the solutions here but none of them are working for me, i'm still seeing the assertion errors.

[2018-02-05 07:03] oldmannt opened #102 "CH05 mocha Cross-Page Test"
Hi, Ethan

I am really enjoying your book.
But I stuck here:

after run
$ mocha -u tdd -R spec qa/ tests-crosspage.js 2 >/ dev/ null
got this warning and nothing was tested:
Warning: Could not find any test files matching pattern: qa/test-crosspage.js
No test files found

[2018-02-05 07:18] oldmannt commented on #102
nvm, path typo.

[2018-02-05 07:18] #102 closed, assigned to nobody

[2018-02-05 15:12] EthanRBrown commented on #102
Glad you figured it out!  Also happy you're enjoying the book, thank you for the feedback, @oldmannt

[2018-02-27 11:35] mrdulin opened #103 "ch12, middleware does not call 'next' function."
12.3.1 section

[code]

should be

[code]

[2018-03-09 15:13] venoel commented on #38
I read book. I am on chapter 5.

And I struggle with Zombie.
Sorry, but I think there are mistaken post above.

```browser.assert.element``` does not compare value of element, it just check is element exists.

So assert should be ```assert(browser.field('referrer').value === referrer);```

But I think the problem is Zombie does not executes javascript
[code]

so ```$('input[name="referrer"]').val`

[2018-03-09 16:33] venoel commented on #38
It seems ```document.referrer``` is empty when run Zombie.

[2018-03-09 16:42] venoel commented on #38
See here

https://github.com/assaf/zombie/pull/947/files/9b763ee167a8a6afd8af81a5167693bd22004dbf

[2018-04-18 23:06] drizzyemtk54 commented on #32
Use

const session = require('express-session');
const MongoStore = require('connect-mongo')(session);

instead of just
const session = require('express-session');
const MongoStore = require('connect-mongo');

it worked for me.been trying to solve that issue for the past hour.

[2018-04-20 07:27] oldmannt commented on #26
anyone know how to fix this?

[2018-05-23 09:05] itsgratien commented on #53
still i got the same issues, invalid csrf token

[2018-05-23 10:47] itsgratien opened #104 "invalid csrf token"
i am assigning multipart/form-data on form, after submittting form, i am getting  invalid csrf token.
 how can i solve this problem?
  form(action="/product/setup",method="POST",enctype="multipart/form-data",class="form")
            div(class="form-group")
              label(for="shop name") Shop Name
              input(type="text",name="shop",class="form-control",value="",placeholder="enter na

[2018-06-01 19:23] inandi opened #105 "codeigniter form_open_multipart showing 403 Forbidden (CSRF)"
CI config
$config['csrf_protection'] = TRUE;
$config['csrf_token_name'] = 'my_token';
$config['csrf_cookie_name'] = 'my_cookie';
$config['csrf_expire'] = 7200;
$config['csrf_regenerate'] = TRUE;
$config['csrf_exclude_uris'] = array();

**form_open is working well, but in the case of multi part it's not working well !!!!**

my HTML
[code]
My JS
[code]

Still I am getting this message

[code]

[2018-06-08 04:01] #37 closed

[2018-06-08 23:32] EthanRBrown commented on #37
Hm... @pietrofxq , I think the important thing was that you moved it after `auth.init()`...`auth.registerRoutes()`.  If you look in _lib/auth.js_, you'll see that the `init` method adds Passport middleware to the Express app:

[code]

One of these middleware (I'm guessing `initialize`, without digging into the code) sets `req.user`.

Remember that the _order that Express middleware is added is imp

[2018-06-19 11:09] SNPR commented on #58
Today I was in a similar situation (Error: Missing helper: "section").
Try to remove text 'jquery' from the code line {{#section 'jquery'}}.
It's helpful to me.

[2018-06-19 15:48] EthanRBrown commented on #58
@markgreenwood I am actually planning on removing almost all technical discussion from this chapter.  Of all the chapters in the book, this is the one that has caused the most headaches and frustrations, both for me and my readers.  Testing tooling -- unlike a language or even a framework -- just changes too fast, and has too many platform quirks to be suitable for book content, a lesson I've lear

[2018-07-23 09:36] neihcnim commented on #68
[code]
I get above message when I run the chapter 13 example.

[2018-07-23 16:46] EthanRBrown commented on #68
@neihcnim what version of Node are you using?  I'm afraid I have not been maintaining this repo (you'll have to wait for the 2nd edition for an updated one), and it hasn't kept up to date with the changes in Node.  I just tried, and I was able to run the ch13 examples with Node 4.

[2018-07-23 16:55] EthanRBrown commented on #68
PS, @neihcnim, you can use [nvm](https://github.com/creationix/nvm) for easy switching between Node versions!

[2018-07-24 00:30] neihcnim commented on #68
I am using node js 8.11.2

After erasing my meadowlark.js and copying the original one. I hit a new error
[code]
I solved this by checking for null with
[code]
After solving this, I was able to start meadowlark.js . The next thing I need to do was place the schema name Vacation in the connection string. So far ch13 example is working for now.

[2018-07-24 20:12] EthanRBrown commented on #68
Glad it's working for you now, @neihcnim ...sorry for the issues you've experienced.

[2018-07-25 06:13] neihcnim opened #107 "ch15: continuous 404 error message in console"
I am continously getting below message in console and I am not sure where they are coming from.
[code]

I am including my package.json
[code]
Prior to this, there was another issue where clicking on vacation links do not work. It was solved after I updated mongoose and bson from 3.8.40 and 1.0.9 respectively.

UPDATE: After installing Chrome DevTools, it *SEEMS* that the faulty URL which results i

[2018-07-26 03:37] neihcnim commented on #107
The problem is strangely not reproducible today. Closing...

[2018-07-26 03:37] #107 closed, assigned to nobody

[2018-09-19 10:11] yejia4869 opened #108 "Ch13: Cannot read property 'Store' of undefined"
Hi Ethan

The book is very easily to understand and attracts me to learn deeply.
but I stuck in ch13 by the following error:

Initially, I thought it was the problem of "session-mongoose",  so I searched this package on npmjs website and
found this:

However, when I managed to install connect@2.x in my project, I found the connect@2.x series is deprecated. It got me...

Am I missing something? Any

[2018-09-20 22:03] EthanRBrown commented on #108
Hi, @yejia4869; I'm glad you're enjoying the book...sorry you're encountering issues.

Unfortunately, the content is pretty significantly out of date at this point.  I do have a second edition on the way, but it probably won't hit the shelves until Q2 2019 (early releases sooner, I imagine).

Without diving into this more deeply, I'm afraid all I can suggest is that you install the exact version n

[2018-09-26 07:29] LeThao98 commented on #108
I'm also encoutering it.I added lastest connect and express, but it isn't fixed

    })(connect.session.Store);
                       ^

    at module.exports (D:\web-development-with-node-and-express\ch13\node_modules\session-mongoose\index.js:266:24)
    at Object.<anonymous> (D:\web-development-with-node-and-express\ch13\meadowlark.js:88:47)
    at Module._compile (module.js:653:30)
    at Obj

[2018-09-26 07:29] LeThao98 commented on #108
})(connect.session.Store);
                       ^

TypeError: Cannot read property 'Store' of undefined
    at module.exports (D:\web-development-with-node-and-express\ch13\node_modules\session-mongoose\index.js:266:24)
    at Object.<anonymous> (D:\web-development-with-node-and-express\ch13\meadowlark.js:88:47)
    at Module._compile (module.js:653:30)
    at Object.Module._extensions..js (modu

[2018-09-26 23:19] EthanRBrown commented on #108
@LeThao98 the problem is _exaclty_ using the latest connect/express.  Please try with the explicit versions in the repo _package.json_ file, per my comment above....

[2018-11-12 12:31] #105 closed, assigned to nobody

[2019-01-03 11:10] ghost commented on #28
problem fixed. Thanks very much

[2019-01-08 10:09] yanlee26 commented on #12
fine @EthanRBrown

[2019-01-18 07:04] xh63hs commented on #26
I am also getting the same issue. Server is crashed.
the messages are:
fs.js:137
    throw new ERR_INVALID_CALLBACK();
    ^

TypeError [ERR_INVALID_CALLBACK]: Callback must be a function
    at makeCallback (fs.js:137:11)
    at Object.unlink (fs.js:939:14)
......
Someone said node version is high
My node,js  is  v10.15.0

[2019-02-02 14:09] TUKenStone commented on #3
@ethanrbrown, you’d asked any 500s and I’ve got one when I navigate to https://localhost:3000/about or https://localhist:3000/about?test=1

I’m not sure I understand the difference between global tests and page-specific tests because it says both “500 - Server Error” and Global Tests” on /about?Test=1 but  “500 - Server Error” when on /about

[2019-02-02 21:48] TUKenStone opened #109 "Cross-Page Tests...: Fatal error: No link matching '.requestGroupRate'"
I get this error after executing "grunt" from the Command Prompt (conEmu):
Cross-Page Tests requesting a group rate quote from the hood river tour page should populate the referrer field: Fatal error: No link matching '.requestGroupRate'
![gruntfilejs](https://user-images.githubusercontent.com/22848363/52169672-5b835280-270a-11e9-9652-54e40a3071e1.PNG)

![grunt_no_link_matching](https://user-image

[2019-03-22 01:52] Brondchux commented on #53
@markzero you are still saving lives in 2019, thank you !

[2019-07-11 22:29] w3slley commented on #3
Hey everyone. I'm just getting an error while studing the chapter 5 of the book (a fantastic one so far, by the way). That's probably something I did somewhere because I changed a few things in the code (but stayed consistent with the examples in the book). Anyway, I used basically the same code and it's returning this:

Cross-Page Tests
    1) requesting to buy fingerstyle course from the fingers

[2019-07-12 03:26] EthanRBrown commented on #3
Hm, @wvict , I'm not sure I understand the problem you're describing...is the test you list failing when it should succeed, or succeeding when it should fail?

By the way, the next edition of the book won't have the Zombie-based tests...they just caused too many problems.  However, I can wholeheartedly recommend [Cypress](https://www.cypress.io/) for testing these days...they've really done a grea

[2019-07-12 08:32] w3slley commented on #3
@EthanRBrown The three tests were supposed to succeed. The value of the document. referrer is present in the hidden input and I checked while going into the page myself (from both pages I wanted to test). Anyway, I'll take a look on Cypress and see how things work. It's actually my first contact with testing and I know something went wrong because I deviated from the book's example. But I think th

[2019-08-22 03:09] krisb1220 commented on #11
Ethan,

This issue still arises, even with the code in the repo. This code fixed the issue.

[code]

[2019-08-22 03:11] krisb1220 commented on #11
Issues:

- `browser.field('referrer').value` has been deprecated and changed to `browser.referrer`
- `browser.clickLink()` has been deprecated and changed to `browser.link()`
- You must put `done()` at the end of all tests due to their async nature

[2019-10-12 20:47] JonathonMurphy commented on #11
A slight correction to the solution posted above. done() does not need to be called twice in a test, and clickLink() has not been deprecated. The code below will resolve the initial issue, and will fail appropriately when a page does not exist, as is the case with /tours/oregon-coast before it is created in the book.

[code]

[2019-11-11 18:26] gregbown commented on #53
This can be done by [putting the token in the header and submitting the form via ajax](https://gist.github.com/gregbown/040521b2ab6d549e8ab59184ef942a10)

[2020-01-16 22:36] tamb commented on #53
A possible crumby work around is adding `?_csrf=mytoken` to the `action` of the `form`

[2020-01-24 15:57] CamGrover commented on #109
These issues were addressed in this pull request for Zombie: <https://github.com/EthanRBrown/web-development-with-node-and-express/pull/111>. Hope it works for you too!

[2020-02-15 11:20] Khaos66 commented on #53
I found that using [express-fileupload](https://www.npmjs.com/package/express-fileupload) over multer works better. This module supports uploads to memory, so no files are written before the CSRF token is validated. (Only good for small files, of course!)

[2020-08-09 04:36] nyck33 opened #113 "incomplete credentials.js for mongodb"
![image](https://user-images.githubusercontent.com/25189545/89724988-0ab77e80-d9bf-11ea-9ba6-369468302aef.png)

That snippet at the top is incomplete with commas.

Can you please include dummy `credential.js` with everything in it just for learning purposes?  It doesn't have to actually work but just so we can see the full structure and not be left with incomplete snippets.

[2020-08-09 19:51] EthanRBrown commented on #113
Hi, @nyck33 yes, this is a frequently requested thing, so I'll go ahead and do that.  I had planned for something a little more elaborate...an interactive templated credentials generator, but I just have not been able to make time for that, and I've let "perfection be the enemy of good."  Will get something for you soon.

[2020-08-10 08:31] #113 closed, assigned to nobody

[2020-11-26 17:02] fullstack681 commented on #77
@romanson-god, @EthanRBrown , ya may be it works on windows, but in some related zombieJS when i import in certain file, issue has shown below

Issue:
Uncaught ReferenceError: require is not defined

[2020-11-26 17:04] fullstack681 commented on #77
@romanson-god, @EthanRBrown , ya may be it works on windows, but i've some issue related to zombieJS when i import i.e.require in certain file, issue has shown below

Issue:
Uncaught ReferenceError: require is not defined

[2020-12-13 13:57] igorkravitz commented on #38
this comment helped me [https://stackoverflow.com/a/35952530/14818086](https://stackoverflow.com/a/35952530/14818086)
`assert(browser.resources[0].request.headers._headers[0][1] === referrer);`

[2021-04-08 21:01] enchPench commented on #58
Hello guys.
The working solution is

[code]

[2021-04-08 21:04] enchPench commented on #38
Hello guys.
The working solution is

[code]